<template>
  <Page class="page" actionBarHidden="true">
        <StackLayout backgroundColor="#EFF0EE" row="0">
          <CardView height="50" class="card" elevation="40">
            <GridLayout width="100%" columns="auto, *">
              <Image horizontalAlignment="left" class="img" src="res://icon" height="20" width="20" col="0" />
              <Label class="title" text="HOME" col="1" />
            </GridLayout>
          </CardView>
          
        </StackLayout>
  </Page>
</template>

<script>
    import Home from './Home.vue';
    const Toast = require("nativescript-toast");
    import axios from 'axios';
    const localStorage = require('nativescript-localstorage');
    import {
        checkInternet
    } from '.././utility/Utilities.js';
    const internetOption = checkInternet();
    export default {
    data() {
      return {
        show: 'visible',
        actIndicator: true,
        showContent: true,
        marginValue: null,
      }
    },
    methods: {
      goToPage(pageUrl) {
      },
      dateView(mydate) {
        if(mydate){
          const strdate = String(mydate);
          const [month, day, year] = strdate.split("-");
          const f = new Date(year, month - 1, day);
          const [w, m, d, y] = (f.toString()).split(" ");
          return `${w} ${m} ${d} ${y}`;
        }
      },
      convertDate(newDate) {
          var d = new Date(newDate);
          var date = new Date(`${d}`);
          if ((date.getMonth() + 1) < 10){
            return ("0" + (date.getMonth() + 1)) + '-' + date.getDate() + '-' + date.getFullYear()              
          }
          return (date.getMonth() + 1) + '-' + date.getDate() + '-' + date.getFullYear()
      },
      getTime(newDate){
          const [g, t] = newDate.split(" ");
          const [a, d, w] = t.split(":")
          return a+":"+d;
      },
      getDate(newDate){
          const [g, t] = newDate.split(" ");
          const [a, d, w] = t.split(":")
          return g;
      },
      convertToDays(createdDate){
        const [g, t] = createdDate.split(" ");
        const newdate = this.convertDate(g);
        const combineDate = newdate +" "+ t;
        const todaysDate = new Date();
        const newDateFormat = new Date(combineDate);
        const difference = Math.abs(todaysDate - newDateFormat) / 1000;
        return Math.floor(difference / 86400);
      }
    },
    created: async function() {
        const platformModule = require("tns-core-modules/platform");
        if (platformModule.isAndroid) {
            this.marginValue = "margin-top: 0"
        } else if (platformModule.isIOS) {
            this.marginValue = "margin-top: 10%"
        }
    },
    computed: {
    }
  }
</script>

<style scoped>
  TabView {
    font-size: 12;
    font-weight: bold;
    font-family: "CalibreRegular";
    color: white;
  }
  
  .page {
    background-color: #F6F6F4
  }
  
  ActionBar {
    background-color: #fff;
  }
  
  .title {
    text-align: left;
    margin: 15;
  }
  
  .smalltitle {
    text-align: left;
    margin: 1;
    font-size: 10;
    padding-left: 7
  }
  
  .message {
    vertical-align: center;
    text-align: center;
    font-size: 20;
    color: #333333;
  }
  
  .drawer-header {
    padding: 50 16 16 16;
    margin-bottom: 16;
    background-color: #53ba82;
    color: #ffffff;
    font-size: 24;
  }
  
  .drawer-item {
    padding: 8 30;
    color: white;
    font-size: 16;
  }
  
  .img {
    margin-left: 5;
  }
  
  .card {
    background-color: #fff;
    color: #4d4d4d;
    padding: 10
  }
  
  .ion {
    color: #fff;
    font-size: 15
  }
  
  .smallmenu {
    margin-left: 60%
  }
  
  .head {
    margin-top: -40;
    margin-bottom: 20;
  }
  
  .subhead {
    background-color: #fff;
    color: #4d4d4d;
    margin-top: 10
  }
  
  .sub {
    margin-left: 10;
    padding: 5;
    font-weight: 500;
    font-family: 'CalibreRegular';
  }
  
  .task {
    margin-top: 10;
    padding: 15;
  }
  
  .upcoming {
    margin-left: 15;
    padding: 10
  }
  
  .request {
    margin-left: 15;
    padding: 10
  }
  
  .fab-button {
    width: 56;
    height: 56;
    background-color: #34A3D4;
    border-radius: 28;
    vertical-align: center;
  }
</style>