<template>
  <Scrollview class="modal">
    <Stacklayout height="100%">
        <Image @tap="$modal.close()" src="~/assets/images/error.png" height="30" width="30" horizontalAlignment="right" />
        <Image src="~/assets/images/delete-task.png" height="50%" width="50%" horizontalAlignment="center" />
        <Stacklayout class="msg" horizontalAlignment="center">
            <Label   text="You are about to delete a task. If delete this task, you will lose all information tied to this task." textWrap="true"/>
            <Button text="Delete" class="delete" />
        </Stacklayout>
    </Stacklayout>
  </Scrollview>
</template>

<script>
export default {
  data() {
    return {};
  },
  methods:{
  }
};
</script>

<style>
.msg {
    /* vertical-align: middle; */
    text-align: center;
    font-size: 16%;
    /* margin: 15%; */
    color: #134611;
    margin-top: 5%;
}

.modal {
    align-items: center;
    /* background-image: url('~/assets/images/delete-task.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
    /* margin: 10%; */
}

.delete {
    background-color: #EB5757;
    color: #fff;
    /* margin-top: 10%; */
    font-size: 14%;
    font-family: "CalibreRegular";
    text-transform: capitalize;
    border-width: 0.5;
    border-radius: 5;
    border-color: #BDBDBD;
    padding: 5;
    height: 20%;
    width: 50%;
}
</style>