<template>
  <Page class="page" actionBarHidden="true">
    <RadSideDrawer ref="drawer">
      <Scrollview ~drawerContent class="side-content">
        <Stacklayout>
         <!-- <Stacklayout  class="searchbar upcoming" borderRadius="200" height="40">
          <Wraplayout horizontalAlignment="center" paddingTop="4" verticalAlignment="middle">
              <TextField width="200" hint="Type a message..." fontSize="13" color="white" returnKeyType="done"/>
              <Image height="15" width="15" src="~/assets/images/search.png"/>
          </Wraplayout>
          </Stacklayout> -->
          <Wraplayout class="upcoming" v-for="(page, i) in pages" @tap="goToPage(page)" :key="i">
            <Image src="~/assets/images/group.png" height="20" width="20" />
            <Label  class="drawer-item" :text="page.name" />
          </Wraplayout>
          <Wraplayout @tap="logOut" class="upcoming">
            <Image src="~/assets/images/group.png" height="20" width="20" />
            <Label text="Logout" class="drawer-item font-weight-bold"/>
          </Wraplayout>
          <GridLayout class="upcoming" rows="*, *,*,*, *,*" columns="*, *, *, *, *">
              <Image src="~/assets/images/profile.png" width="15%" height="15%" row="0" rowSpan="2" col="0" />
              <label row="0" colSpan="4" col="1" text="Seyike Sojirin" style="font-size: 16%; color: white; padding: 1%" class="font-weight-bold" textWrap="true" />
              <label row="1" colSpan="4" col="1" text="Manager" style="font-size: 12%; color: white; padding: 1%; opacity: 0.5" class="" textWrap="true" />
          </GridLayout>          
        </Stacklayout>
      </Scrollview>
      <GridLayout ~mainContent row="*">
        <StackLayout row="0">
         <CardView height="50" class="card" :elevation="elevation">
            <GridLayout  width="100%" columns="*, auto, *, *, auto, auto">
              <Image style="margin-left: 10" horizontalAlignment="left" src="~/assets/images/menu.png" height="30" width="25" @tap="$refs.drawer.nativeView.showDrawer()" col="0" />
              <Label @tap="$refs.drawer.nativeView.showDrawer()" paddingLeft="30%" horizontalAlignment="left" class="title" :text="actionBartitle" col="0" colSpan="3"/>
              <Image src="~/assets/images/notification.png" marginRight="5%" height="20" width="20" col="4" />
              <Image src="~/assets/images/user.png" height="20" marginRight="5%" width="20" col="5" />
            </GridLayout>
          </CardView>
          <keep-alive>
            <component v-bind:is="currentView"></component>
          </keep-alive>
        </StackLayout>
      </GridLayout>
  
    </RadSideDrawer>
  </Page>
</template>

<script>
  const localStorage = require('nativescript-localstorage');  
  const Toast = require("nativescript-toast");
  import axios from 'axios';
  import {
      checkInternet
  } from '.././utility/Utilities.js';
  const internetOption = checkInternet();
  import Admin from './Admin'
  import Planning from './Planning'
  import Inventory from './Inventory'
  import Finance from './Finance'
  import Resources from './Resources'
  import Settings from './Settings'
  import Login from "./Login"
  import Tasks from "./Tasks"
  import Dashboard from "./Dashboard"
  import * as application from "application";
  import {
      AndroidApplication
  } from "application";
  const platformModule = require("tns-core-modules/platform");
  export default {
    data() {
      return {
        showContent: true,
        elevation: 0,
        pages: [{
            id: 0,
            name: 'Dashboard'
          },
          // {
          //   id: 1,
          //   name: 'Tasks'
          // },
          {
            id: 1,
            name: 'Planning'
          },
          {
            id: 2,
            name: 'Inventory'
          },
          {
            id: 3,
            name: 'Finance'
          },
          {
            id: 4,
            name: 'Admin'
          },
          {
            id: 5,          
            name: 'Resources'
          },
          {
            id: 6,
            name: 'Settings'
          },
        ],
        currentView: this.$store.state.agrohaven.selectedTab,
        actionBartitle: this.$store.state.agrohaven.header
      }
    },
    methods: {
      goToPage(pageUrl) {
        this.actionBartitle = pageUrl.name
        const vm = this;
        let idToInt = parseInt(pageUrl.id)
        switch (idToInt) {
          case 0:
            vm.currentView = 'appDash';
            vm.$refs.drawer.nativeView.closeDrawer();
            break;
          // case 1:
          //   vm.currentView = 'appTasks';
          //   vm.$refs.drawer.nativeView.closeDrawer();
          //   break;
          case 1:
            vm.currentView = 'appPlanning';
            vm.$refs.drawer.nativeView.closeDrawer();
            break;
          case 2:
            vm.currentView = 'appInventory';
            vm.$refs.drawer.nativeView.closeDrawer();
            break;
          case 3:
            vm.currentView = 'appFinance';
            vm.$refs.drawer.nativeView.closeDrawer();
            break;
          case 4:
            vm.currentView = 'appAdmin';
            vm.$refs.drawer.nativeView.closeDrawer();
            break;
          case 5:
            vm.currentView = 'appResources';
            vm.$refs.drawer.nativeView.closeDrawer();
            break;
          case 6:
            vm.currentView = 'appSettings';
            vm.$refs.drawer.nativeView.closeDrawer();
            break;
          default:
            break;
        }
      },
      logOut(){
        localStorage.removeItem('token');
        this.$navigateTo(Login,{
              clearHistory: true
        });
      },
    },
    created: async function() {
        this.actionBartitle = 'Home'
        if (platformModule.isAndroid) {
          this.elevation = "0";
        } else if (platformModule.isIOS) {
          this.elevation = "0";
        }
        const vm = this;
        if (internetOption) {

        }
        else {
            Toast.makeText("Internet connection not available to retrieve request", "long").show();
        }
    },
    computed: {
      displayView() {
        return this.showContent
      },
      title() {
        return this.actionBartitle
      },
      name() {
      },
    },
    components: {
      appAdmin : Admin,
      appPlanning: Planning,
      appInventory: Inventory,
      appFinance: Finance,
      appResources: Resources,
      appSettings: Settings,
      appDash: Dashboard,
      appTasks: Tasks
    }
  }
</script>

<style scoped>
TabView {
  font-size: 12;
  font-weight: bold;
  font-family: "CalibreRegular";
  color: white;
}

.page {
    align-items: center;
    background-image: url('~/assets/images/bg1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.side-content{
    align-items: center;
    background-image: url('~/assets/images/rectangle.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* margin-left: 20%; */
}

ActionBar {
  background-color: #fff;
}

.title {
  text-align: left;
  margin: 15;
}

.smalltitle {
  text-align: left;
  margin: 1;
  font-size: 10;
  padding-left: 7;
}

.message {
  vertical-align: center;
  text-align: center;
  font-size: 20;
  color: #333333;
}

.drawer-header {
  padding: 50 16 16 16;
  margin-bottom: 16;
  background-color: #53ba82;
  color: #ffffff;
  font-size: 24;
}

.drawer-item {
  padding: 8 30;
  color: white;
  font-size: 16;
}

.img {
  margin-left: 5;
}

.card {
  background-color: transparent;
  color: #fff;
  padding: 10;
}

.ion {
  color: #fff;
  font-size: 15;
}

.smallmenu {
  margin-left: 20;
}

.head {
  margin-top: -40;
  margin-bottom: 20;
}

.subhead {
  background-color: #fff;
  color: #4d4d4d;
  margin-top: 10;
}

.sub {
  margin-left: 10;
  padding: 5;
  font-weight: 500;
  font-family: "CalibreRegular";
}

.task {
  margin-top: 10;
  padding: 15;
}

.cardv {
  margin: 10;
}

.upcoming {
  margin-left: 15;
  padding: 10;
}

.request {
  margin-left: 15;
  padding: 10;
}

.fab-button {
  width: 56;
  height: 56;
  background-color: #34a3d4;
  border-radius: 28;
  vertical-align: center;
}

.searchbar {
  background-color: rgba(255, 255, 255, 0.1);
  margin: 10;
}
</style>