<template>
      <Scrollview row="0">
        <StackLayout :marginTop="marginTop" class="form">
            <label text="Welcome" fontWeight="200" fontSize="18%" color="#134611" padding="5" class=""/>
            <label text="Seyikemi," fontWeight="600" fontSize="22%" color="#134611" padding="5" class=""/>
            <label text="Manage all your inventories" fontWeight="200" color="#134611" padding="5" fontSize="14%" class=""/>

            <Wraplayout>
            <CardView width="40%" height="80%" style="background-color: white; margin-bottom: 10" v-for="(item, i) in cardItems" @tap="goToPage(item)" :key="i" margin="8" elevation="20">
              <StackLayout padding="5" style="vertical-align: middle" class="cardv">
                  <label  style="color: #134611; font-size: 14; font-weight: 400; font-family: CalibreRegular" :text="item.heading" />
                  <Image horizontalAlignment="center" verticalAlignment="middle" height="60%" width="60%" :src="item.img" />
              </StackLayout>
            </CardView>
            </Wraplayout>
        </Stacklayout>
      </Scrollview>
</template>

<script>
import Home from './Home';
import Signup from './Signup';
import ResponseModal from './ResponseModal';
import WorkPlan from './WorkPlan';
import WorkplanList from './WorkplanList';
import ToolRequest from './ToolRequest';
import MyAssets from './MyAssets';
import * as application from "application";
import { AndroidApplication } from "application";
const Toast = require("nativescript-toast");
import axios from "axios";
import { checkInternet } from ".././utility/Utilities.js";
const internetOption = checkInternet();
const platformModule = require("tns-core-modules/platform");
const localStorage = require("nativescript-localstorage");
export default {
  data() {
    return {
      deliverableData: {
        email: "",
        password: ""
      },
      passwordSecure: true,
      actIndicator: false,
      show: "collapsed",
      submitButton: true,
      radValue: null,
      marginValue: null,
      buttonOpacity: 1,
      bgColor: "",
      marginTop: "",
      cardItems: [
        {
          heading: 'Assets',
          img: '~/assets/images/assets.png',
        },
        {
          heading: 'Store',
          img: '~/assets/images/store.png',
        },
        {
          heading: 'Produce',
          img: '~/assets/images/produce.png',
        },
        {
          heading: 'Sales',
          img: '~/assets/images/sales.png',
        },
        {
          heading: 'Requests',
          img: '~/assets/images/requests.png',
        },
        ]
    };
  },
  created() {
    if (!internetOption) {
      Toast.makeText("Internet connection not available", "long").show();
    }
    if (platformModule.isAndroid) {
      this.marginValue = "10%";
      this.radValue = "0";
      this.bgColor = "transparent";
      this.marginTop = "0";
    } else if (platformModule.isIOS) {
      this.marginValue = "50%";
      this.bgColor = "#3E8913";
      this.radValue = "0";
      this.marginTop = "5%";
    }
  },
  methods: {
    toLower(params) {
      return params.trim().toLowerCase();
    },
    validateEmail(email) {
      var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return re.test(email);
    },
    signupScreen() {
      // this.$router.push('/signup');
      this.$navigateTo(Signup);
    },
    showPassword() {
      this.passwordSecure = !this.passwordSecure;
    },
    loginUser() {
      this.$store.commit('setTab', 'appDash')
      this.$store.commit('setHeader', 'Dashboard')
      this.$navigateTo(Home, {
        clearHistory: true
      })
    },
    goToPage() {
      this.$navigateTo(MyAssets);
    },

  },
  computed: {
    acivityIndicator() {
      return this.actIndicator;
    },
    enableSubmitButton() {
      return this.submitButton;
    }
  }
};
</script>

<style scoped>
.coverImage {
    align-items: center;
    background-image: url('~/assets/images/bg5.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.form {
    margin-left: 15;
    margin-right: 15;
    flex-grow: 2;
    vertical-align: middle;
}

.card {
    background-color: #fff;
    color: #4d4d4d;
    margin: 0 15 0 15;
    padding: 10;
    border: 1px solid #000;
}

.getstarted {
    background-color: #3E9814;
    color: #4d4d4d;
    margin: 15 15 15 15;
    padding: 10;
}

TextField {
    border-width: 0 0 1 0;
    border-bottom-color: #00000000;
    font-size: 12;
}

.main {
    font-size: 16%;
    font-weight: 400;
    font-family: 'RobotoBlack';
    color: #134611;
    margin: 15 0 0 15;
}

.submain {
    font-weight: 400;
    font-size: 11%;
    color: #134611;
    font-family: 'KrubItalic';
    padding: 10% 0 10% 0;    
    margin: 0 15 5 15;
}

.pwd {
    color: #4F4F4F;
    font-size: 12%;
    font-family: 'CalibreLight'
}

.sub {
    font-weight: 200;
    font-size: 13%;
    color: #134611;
    font-family: 'KrubItalic';
    padding: 0% 0 0% 0;    
    margin: 0 0 0 0;
}

.resetText {
    color: #3E8914;
    font-family: 'CalibreLight';
    font-size: 11%;
}

.loginBtn {
    font-size: 14%;
    font-family: 'KrubItalic';
    color: white;
}

.headings {
  font-weight: 400;
}

.add {
    font-weight: 400;
    font-size: 14%;
    color: #134611;
    font-family: 'KrubItalic';
    padding: 10% 0 10% 0;    
    margin: 0 0 5 0;
}

.upcoming {
    margin-left: 15;
    padding: 0
}

  .fab-button {
    width: 56;
    height: 56;
    background-color: #fff;
    border-radius: 28;
    vertical-align: center;
  }
</style>
