<template>
  <Page actionBarHidden="true" class="coverImage">
      <Scrollview>
        <StackLayout class="form">
          <label text="Hello!" class="main font-weight-bold"/>
          <label text="Welcome back, login to your account!" textWrap="true" class="submain"/>
          <CardView height="50" class="card" :radius="radValue" elevation="7">
            <GridLayout rows="*" columns="*, *, *, *, *, *" style="vertical-align: middle">
              <Image row="0" col="0" class src="~/assets/images/username.png" height="30%" width="30%"/>
              <TextField row="0" col="1" colSpan="4" v-model="loginData.email" width="200" hint="Username" returnKeyType="next"/>
            </GridLayout>
          </CardView>
          <CardView height="50" class="card" elevation="7" :radius="radValue">
            <GridLayout rows="*" columns="*, *, *, *, *, *" style="vertical-align: middle">
              <Image row="0" col="0" class src="~/assets/images/lock.png" height="30%" width="30%"/>
              <TextField row="0" col="1" colSpan="4" v-model="loginData.password" width="200" :secure="passwordSecure" hint="Password" returnKeyType="done"/>
              <Image row="0" col="5" style="margin-left: -5" @tap="showPassword" src="~/assets/images/view.png" height="30%" width="30%" />
            </GridLayout>
          </CardView>
          <WrapLayout horizontalAlignment="right" marginRight="15">
              <label text="Forgot Password?!" class="pwd"/>
              <label text="Click here to reset" class="resetText"/>
          </WrapLayout>
          <CardView :opacity="buttonOpacity" :isEnabled="enableSubmitButton" height="50" @tap="loginUser" class="getstarted" elevation="0" :radius="radValue">
            <Stacklayout style="vertical-align: middle" horizontalAlignment="center">
              <WrapLayout horizontalAlignment="center">
                  <Label horizontalAlignment="center" text="Login" class="loginBtn"/>
                  <ActivityIndicator color="white" height="20" :visibility="`${ show }`" width="20" :busy="`${this.actIndicator}`"/>
              </WrapLayout>
            </Stacklayout>
          </CardView>
          <WrapLayout @tap="signupScreen" marginTop="60" horizontalAlignment="center">
            <label text="Not a member of agrohaven?" fontSize="18%" class="pwd"/>
            <label text="Sign up" fontSize="18%" class="resetText"/>
          </WrapLayout>
        </StackLayout>
      </Scrollview>
  </Page>
</template>

<script>
import api from '../services/api'
import Home from './Home'
import Signup from './Signup'
import * as application from "application";
import { AndroidApplication } from "application";
const Toast = require("nativescript-toast");
import axios from "axios";
import { checkInternet } from ".././utility/Utilities.js";
const internetOption = checkInternet();
const platformModule = require("tns-core-modules/platform");
const localStorage = require("nativescript-localstorage");
export default {
  data() {
    return {
      loginData: {
        email: "",
        password: "",
        mobApiKey: "aghx1z-vuMOfSiRcM2Rl1PuuhNk2tXUocFRnhVvocxknnaMIu3RQWFEunhff1ETJrJ=="
      },
      passwordSecure: true,
      actIndicator: false,
      show: "collapsed",
      submitButton: true,
      radValue: null,
      marginValue: null,
      buttonOpacity: 1,
    };
  },
  created() {
    if (!internetOption) {
      Toast.makeText("Internet connection not available", "long").show();
    }
    if (platformModule.isAndroid) {
      this.marginValue = "30%";
      this.radValue = "0";
    } else if (platformModule.isIOS) {
      this.marginValue = "0%";
      this.radValue = "0";
    }
  },
  methods: {
    toLower(params) {
      return params.trim().toLowerCase();
    },
    validateEmail(email) {
      var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return re.test(email);
    },
    signupScreen() {
      // this.$router.push('/signup');
      this.$navigateTo(Signup);
    },
    showPassword() {
      this.passwordSecure = !this.passwordSecure;
    },
    loginUser: async function() {
      console.log(JSON.stringify(this.loginData));
      this.loginData.email = this.toLower(this.loginData.email);
      const vm = this;
      this.submitButton = false;
      this.buttonOpacity = 0.4;
      this.actIndicator = true;
      this.show = "visible";
      if (this.loginData.email == "" || this.loginData.password == "") {
        alert("Field(s) can not be empty");
        this.show = "collapsed";
        this.buttonOpacity = 1;
        this.actIndicator = false;
        this.submitButton = true;
        return;
      }
      if (!this.validateEmail(this.loginData.email)) {
        await alert("Incorrect email format");
        this.actIndicator = false;
        this.buttonOpacity = 1;
        this.submitButton = true;
        this.show = "collapsed";
        return;
      }
      
      try {
        const result = await api.login(vm.loginData);
        console.log("result status " + result.status);
        console.log("data status " + result.data.status);
        console.log("data message " + result.data.message);
        console.log("data token " + result.data.data.token);
        localStorage.setItem('token', result.data.data.token)
        // console.log("data message " + result.data.data);
        if (result.data.status == '1' ) {
          vm.actIndicator = false;
          vm.show = "collapsed";
          vm.$store.commit('setTab', 'appDash')
          vm.$store.commit('setHeader', 'Dashboard')
          vm.$navigateTo(Home, {
            clearHistory: true
          })
          vm.$destroy();
        } else {
          vm.actIndicator = false;
          vm.buttonOpacity = 1;
          vm.show = "collapsed";
          vm.submitButton = true;
          await alert({
            title: "Login failed",
            message: "Please try again",
            okButtonText: "OK"
          });
        }
      } catch (error) {
        vm.actIndicator = false;
        vm.show = "collapsed";
        vm.buttonOpacity = 1;
        vm.submitButton = true;
        await alert({
          title: "Login failed",
          message: "Please try again",
          okButtonText: "OK"
        });
      }
    },
  },
  computed: {
    acivityIndicator() {
      return this.actIndicator;
    },
    enableSubmitButton() {
      return this.submitButton;
    }
  }
};
</script>

<style scoped>
.coverImage {
    align-items: center;
    /* flex-direction: column; */
    background-image: url('~/assets/images/bg6.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.form {
    margin-left: 15;
    margin-right: 15;
    flex-grow: 2;
    vertical-align: middle;
}

.card {
    background-color: #fff;
    color: #4d4d4d;
    margin: 15 15 15 15;
    padding: 10;
    border: 1px solid #000;
}

.getstarted {
    background-color: #3E9814;
    color: #4d4d4d;
    margin: 15 15 15 15;
    padding: 10;
}

TextField {
    border-width: 0 0 1 0;
    border-bottom-color: #00000000;
    font-size: 12;
}

.main {
    font-size: 30%;
    font-weight: 500;
    font-family: 'RobotoBlack';
    color: #134611;
    margin: 15 0 0 15;
}

.submain {
    font-weight: 200;
    font-size: 18%;
    color: #134611;
    font-family: 'KrubItalic';
    padding-bottom: 20%;    
    margin: 0 0 15 15;
}

.pwd {
    color: #4F4F4F;
    font-size: 12%;
    font-family: 'CalibreLight'
}

.resetText {
    color: #3E8914;
    font-family: 'CalibreLight';
    font-size: 12%;
}

.loginBtn {
    font-size: 18%;
    font-family: 'KrubItalic';
    color: white;
}
</style>
