<template>
  <Page class="coverImage">
    <ActionBar flat="true" :backgroundColor="bgColor" color=#fff title="New Plan">
      <NavigationButton text android.systemIcon="ic_menu_back" @tap="back"/>
        <ActionItem ios.position="right">
            <Wraplayout>
              <Image :marginRight="marginValue" src="~/assets/images/notification.png" height="20" width="20" />
              <Image :marginRight="marginValue" src="~/assets/images/user.png" height="20" width="20" />   
            </Wraplayout>   
        </ActionItem>
    </ActionBar>
      <Scrollview>
        <StackLayout :marginTop="marginTop" class="form">
          <label text="Estimate no of produce" class="main font-weight-bold"/>
          <Progress marginTop="20" marginLeft="-10%" width="80%" :value="`${ progressValue }`" :maxValue="`${ progressMaxValue }`" @loaded="onProgressLoaded" class="p-20" />
          <FlexboxLayout flexDirection="row" justifyContent="space-between">
            <label text="Deliverable ID" class="submain"/>
            <label text="D098JKHS" class="submain"/>   
          </FlexboxLayout>
         <label text="Select unit of land measurement" class="submain headings"/>
          <CardView height="50" class="card" :radius="radValue" elevation="20">
            <GridLayout rows="*" columns="*, *, *, *, *, *" style="vertical-align: middle">
              <TextField row="0" col="0" colSpan="4" width="200" hint="" returnKeyType="next"/>
              <Image row="0" col="6" class src="~/assets/images/drop.png" height="30%" width="30%"/>
            </GridLayout>
          </CardView>
          <label text="Land Measurement" class="submain headings"/>
          <CardView height="50" class="card" :radius="radValue" elevation="20">
             <GridLayout rows="*" columns="*, *, *, *, *, *" style="vertical-align: middle">
              <TextField row="0" col="0" colSpan="4" width="200" hint="" returnKeyType="next"/>
            </GridLayout>
          </CardView>
          <label text="Select crop type" class="submain headings"/>
          <CardView height="50" class="card" :radius="radValue" elevation="20">
             <GridLayout rows="*" columns="*, *, *, *, *, *" style="vertical-align: middle">
              <TextField row="0" col="0" colSpan="4" width="200" hint="" returnKeyType="next"/>
              <Image row="0" col="6" class src="~/assets/images/drop.png" height="30%" width="30%"/>
            </GridLayout>
          </CardView>
          <label text="Crop Spacing" class="submain headings"/>
          <CardView height="50" class="card" :radius="radValue" elevation="20">
             <GridLayout rows="*" columns="*, *, *, *, *, *" style="vertical-align: middle">
              <TextField row="0" col="0" colSpan="4" width="200" hint="" returnKeyType="next"/>
            </GridLayout>
          </CardView>
            <CardView :opacity="buttonOpacity" :isEnabled="enableSubmitButton" @tap="createWorkplan" height="50" class="getstarted" elevation="0" :radius="radValue">
            <Stacklayout style="vertical-align: middle" horizontalAlignment="center">
              <WrapLayout horizontalAlignment="center">
                  <Label horizontalAlignment="center" text="Assign and Manage Tasks  " class="loginBtn"/>
                  <ActivityIndicator color="white" height="20" :visibility="`${ show }`" width="20" :busy="`${this.actIndicator}`"/>
                  <Stacklayout height="50%" width="9%" borderRadius="200" backgroundColor="#ffffff" style="vertical-align: middle" horizontalAlignment="center">
                      <Image class src="~/assets/images/right-arrow.png" height="45%" width="45%"/>
                  </Stacklayout>
              </WrapLayout>
            </Stacklayout>
          </CardView>
        </StackLayout>
      </Scrollview>
  </Page>
</template>

<script>
import Home from './Home';
import Signup from './Signup';
import ResponseModal from './ResponseModal';
import WorkPlan from './WorkPlan';
import TaskManagement from './TaskManagement';
import * as application from "application";
import { AndroidApplication } from "application";
const Toast = require("nativescript-toast");
import axios from "axios";
import { checkInternet } from ".././utility/Utilities.js";
const internetOption = checkInternet();
const platformModule = require("tns-core-modules/platform");
const localStorage = require("nativescript-localstorage");
export default {
  data() {
    return {
      deliverableData: {
        email: "",
        password: ""
      },
      passwordSecure: true,
      actIndicator: false,
      show: "collapsed",
      submitButton: true,
      radValue: null,
      marginValue: null,
      buttonOpacity: 1,
      bgColor: "",
      marginTop: "",
      progressValue: 60,
      progressMaxValue: 100,
    };
  },
  created() {
    if (!internetOption) {
      Toast.makeText("Internet connection not available", "long").show();
    }
    if (platformModule.isAndroid) {
      this.marginValue = "10%";
      this.radValue = "0";
      this.bgColor = "transparent";
      this.marginTop = "0";
    } else if (platformModule.isIOS) {
      this.marginValue = "50%";
      this.bgColor = "#3E8913";
      this.radValue = "0";
      this.marginTop = "10%";
    }
  },
  methods: {
    toLower(params) {
      return params.trim().toLowerCase();
    },
    validateEmail(email) {
      var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return re.test(email);
    },
    signupScreen() {
      // this.$router.push('/signup');
      this.$navigateTo(Signup);
    },
    showPassword() {
      this.passwordSecure = !this.passwordSecure;
    },
    loginUser() {
      this.$store.commit('setTab', 'appDash')
      this.$store.commit('setHeader', 'Dashboard')
      this.$navigateTo(Home, {
        clearHistory: true
      })
    },
    saveData() {
        this.$showModal(ResponseModal);
    },
    createWorkplan() {
      this.$navigateTo(TaskManagement);
    },
    onProgressLoaded(args) {
        const sliderComponent = args.object;
        args.object.color = "#3E8914";
        args.object.backgroundColor = "#F2F2F2";
        sliderComponent.on("valueChange", (pargs) => {
        });
    },
  },
  computed: {
    acivityIndicator() {
      return this.actIndicator;
    },
    enableSubmitButton() {
      return this.submitButton;
    }
  }
};
</script>

<style scoped>
.coverImage {
    align-items: center;
    background-image: url('~/assets/images/bg3.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.form {
    margin-left: 15;
    margin-right: 15;
    flex-grow: 2;
    vertical-align: middle;
}

.card {
    background-color: #fff;
    color: #4d4d4d;
    margin: 0 15 0 15;
    padding: 10;
    border: 1px solid #000;
}

.getstarted {
    background-color: #3E9814;
    color: #4d4d4d;
    margin: 15 15 15 15;
    padding: 10;
}

TextField {
    border-width: 0 0 1 0;
    border-bottom-color: #00000000;
    font-size: 12;
}

.main {
    font-size: 16%;
    font-weight: 400;
    font-family: 'RobotoBlack';
    color: #134611;
    margin: 15 0 0 15;
}

.submain {
    font-weight: 200;
    font-size: 11%;
    color: #134611;
    font-family: 'KrubItalic';
    padding: 10% 0 10% 0;    
    margin: 0 15 5 15;
}

.pwd {
    color: #4F4F4F;
    font-size: 12%;
    font-family: 'CalibreLight'
}

.resetText {
    color: #3E8914;
    font-family: 'CalibreLight';
    font-size: 11%;
}

.loginBtn {
    font-size: 14%;
    font-family: 'KrubItalic';
    color: white;
}

.headings {
  font-weight: 400;
}

.add {
    font-weight: 400;
    font-size: 14%;
    color: #134611;
    font-family: 'KrubItalic';
    padding: 10% 0 10% 0;    
    margin: 0 0 5 0;
}
</style>
