<template>
  <Page class="coverImage">
    <ActionBar flat="true" :backgroundColor="bgColor" color=#fff title="Assets">
      <NavigationButton text android.systemIcon="ic_menu_back" @tap="back"/>
        <ActionItem ios.position="right">
            <Wraplayout>
              <Image :marginRight="marginValue" src="~/assets/images/notification.png" height="20" width="20" />
              <Image :marginRight="marginValue" src="~/assets/images/user.png" height="20" width="20" />   
            </Wraplayout>   
        </ActionItem>
    </ActionBar>
        <Scrollview>
    <Stacklayout :marginTop="marginTop">
        <FlexboxLayout flexDirection="row" justifyContent="space-between">
            <label text="All Requests" class="submain"/>
            <label text="12" class="submain"/>   
        </FlexboxLayout>
        <CardView height="100" style="background-color: white; margin: 13" @tap="nextPage" v-for="(item, i) in filteredArrayItem" :key="i" margin="5" elevation="20">
            <Stacklayout borderLeftColor="#EB5757" borderLeftWidth="3">
                    <GridLayout rows="*, *" columns="*, *, *, *, *, *, *">
                        <label row="0" colSpan="2" col="0" :text="`${item.day}`" margin="5%" fontWeight="500" class="headings" style="font-size: 30%; color: black" />
                        <WrapLayout margin="5%"  row="0" colSpan="5" col="2">
                            <Image src="~/assets/images/user.png" width="30" height="30" />
                            <label :text="`${item.name}`" style="font-size: 15%; color: black" class="" fontWeight="200" textWrap="true" />
                        </WrapLayout>
                        <Stacklayout margin="5%"  row="1" rowSpan="2" colSpan="2" col="0">
                            <label :text="`${item.month}`" style="font-size: 9%; color: black" fontWeight="100" class="" textWrap="true" />
                            <label :text="`${item.time}`" style="font-size: 9%; color: black; padding-top:5%" fontWeight="100" class="" textWrap="true" />
                        </Stacklayout>
                        <label row="1" margin="5%" marginTop="-10%" colSpan="5"  col="2" text="Requisition for new Assets" class="headings" style="font-size: 18%; color: black" />
                    </GridLayout>
            </StackLayout>
        </CardView>
    </Stacklayout>
        </Scrollview>
  </Page>
</template>

<script>
import Home from './Home';
import Signup from './Signup';
import ResponseModal from './ResponseModal';
import ShareModal from './ShareModal';
import WorkPlan from './WorkPlan';
import WorkplanList from './WorkplanList';
import TasksAssigned from './TasksAssigned';
import WorkPlanEstimate from './WorkPlanEstimate';
import ManageTask from './ManageTask';
import DeleteTask from './DeleteTask';
import EstimateProduce from './EstimateProduce';
import TaskManagement from './TaskManagement';
import DeliverablesEstimate from './DeliverablesEstimate';
import DeliverableList from './DeliverableList';
import DetailedEstimate from './DetailedEstimate';
import AssignedUsers from './AssignedUsers';
import AssignAsset from './AssignAsset';
import Store from './Store';
import Asset from './Asset';
import * as application from "application";
import { AndroidApplication } from "application";
const Toast = require("nativescript-toast");
import axios from "axios";
import { checkInternet } from ".././utility/Utilities.js";
const internetOption = checkInternet();
const platformModule = require("tns-core-modules/platform");
const localStorage = require("nativescript-localstorage");
export default {
  data() {
    return {
      deliverableData: {
        email: "",
        password: ""
      },
      passwordSecure: true,
      actIndicator: false,
      show: "collapsed",
      submitButton: true,
      radValue: null,
      marginValue: null,
      buttonOpacity: 1,
      bgColor: "",
      marginTop: "",
      progressValue: 20,
      progressMaxValue: 100,
      filteredArrayItem: [
        {
          day: '8',
          month: 'Feb 2019',
          time: '12:45pm',
          name: 'Seyike Sojirin'
        },
        {
          day: '8',
          month: 'Feb 2019',
          time: '12:45pm',
          name: 'Seyike Sojirin'
        },
        {
          day: '8',
          month: 'Feb 2019',
          time: '12:45pm',
          name: 'Seyike Sojirin'
        },
        {
          day: '8',
          month: 'Feb 2019',
          time: '12:45pm',
          name: 'Seyike Sojirin'
        },
        {
          day: '8',
          month: 'Feb 2019',
          time: '12:45pm',
          name: 'Seyike Sojirin'
        },
        {
          day: '8',
          month: 'Feb 2019',
          time: '12:45pm',
          name: 'Seyike Sojirin'
        },
        {
          day: '8',
          month: 'Feb 2019',
          time: '12:45pm',
          name: 'Seyike Sojirin'
        },
        {
          day: '8',
          month: 'Feb 2019',
          time: '12:45pm',
          name: 'Seyike Sojirin'
        },
        ]
    };
  },
  created() {
    if (!internetOption) {
      Toast.makeText("Internet connection not available", "long").show();
    }
    if (platformModule.isAndroid) {
      this.marginValue = "10%";
      this.radValue = "0";
      this.bgColor = "transparent";
      this.marginTop = "0";
    } else if (platformModule.isIOS) {
      this.marginValue = "50%";
      this.bgColor = "#3E8913";
      this.radValue = "0";
      this.marginTop = "10%";
    }
  },
  methods: {
    toLower(params) {
      return params.trim().toLowerCase();
    },
    validateEmail(email) {
      var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return re.test(email);
    },
    planEstimate() {
      this.$navigateTo(Asset);
    },
    onItemTap() {
      this.$navigateTo(AssignAsset);
    },
    nextPage() {
      this.$navigateTo(Store);
    }

  },
  computed: {
    acivityIndicator() {
      return this.actIndicator;
    },
    enableSubmitButton() {
      return this.submitButton;
    }
  }
};
</script>

<style scoped>
.coverImage {
    align-items: center;
    background-image: url('~/assets/images/bg5.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.form {
    margin-left: 15;
    margin-right: 15;
    flex-grow: 2;
    vertical-align: middle;
}

.card {
    background-color: #fff;
    color: #4d4d4d;
    margin: 0 15 0 15;
    padding: 10;
    border: 1px solid #000;
}

.getstarted {
    background-color: #3E9814;
    color: #4d4d4d;
    margin: 15 15 15 15;
    padding: 10;
}

TextField {
    border-width: 0 0 1 0;
    border-bottom-color: #00000000;
    font-size: 12;
}

.main {
    font-size: 16%;
    font-weight: 400;
    font-family: 'RobotoBlack';
    color: #134611;
    margin: 15 0 0 15;
}

.submain {
    font-weight: 400;
    font-size: 17%;
    color: #134611;
    font-family: 'KrubItalic';
    padding: 10% 0 10% 0;    
    margin: 0 15 5 15;
}

.pwd {
    color: #4F4F4F;
    font-size: 12%;
    font-family: 'CalibreLight'
}

.resetText {
    color: #3E8914;
    font-family: 'CalibreLight';
    font-size: 11%;
}

.loginBtn {
    font-size: 18%;
    font-family: 'KrubItalic';
    color: white;
}

.headings {
  font-weight: 200;
}

  TabView {
    font-size: 12;
    font-weight: bold;
    font-family: "CalibreRegular";
    color: #3E8914;
  }
</style>
