<template>
  <Page class="coverImage">
    <ActionBar flat="true" :backgroundColor="bgColor" color=#fff title="New Plan">
      <NavigationButton text android.systemIcon="ic_menu_back"/>
        <ActionItem ios.position="right">
            <Wraplayout>
              <Image :marginRight="marginValue" src="~/assets/images/notification.png" height="20" width="20" />
              <Image :marginRight="marginValue" src="~/assets/images/user.png" height="20" width="20" />   
            </Wraplayout>   
        </ActionItem>
    </ActionBar>
      <Scrollview>
        <StackLayout :marginTop="marginTop" class="form">
          <label text="Create New Deliverables" class="main font-weight-bold"/>
          <Progress marginTop="20" marginLeft="-12%" width="80%" :value="`${ progressValue }`" :maxValue="`${ progressMaxValue }`" @loaded="onProgressLoaded" class="p-20" />
          <FlexboxLayout flexDirection="row" justifyContent="space-between">
            <label text="Deliverable ID" class="submain"/>
            <label :text="deliverableData.deliverableID" class="submain"/>   
          </FlexboxLayout>
          <label text="Enter Deliverables name" class="submain headings"/>
          <CardView height="50" class="card" :radius="radValue" elevation="20">
              <TextField v-model="deliverableData.deliverableName" width="300" hint="" returnKeyType="next"/>
          </CardView>
         <!-- <label text="Select a Field" class="submain headings"/>
          <CardView height="50" class="card" :radius="radValue" elevation="20">
            <GridLayout rows="*" columns="*, *, *, *, *, *" style="vertical-align: middle">
              <TextField row="0" col="0" colSpan="4" width="200" hint="" returnKeyType="next"/>
              <Image row="0" col="6" class src="~/assets/images/drop.png" height="30%" width="30%"/>
            </GridLayout>
          </CardView> -->
          <label text="Select a Season" class="submain headings"/>
          <CardView height="50" class="card" :radius="radValue" elevation="20">
                <!-- <Stacklayout width="80%">
                    <DropDown horizontalAlignment="left" style="font-size : 14%; margin:5;" :items="seasons" @selectedIndexChanged="onchange($event)" @opened="onopen()" @closed="onclose()" selectedIndex="0"></DropDown>
                </Stacklayout> -->
             <GridLayout rows="*" columns="*, *, *, *, *, *" style="vertical-align: middle">
              <DropDown row="0" col="0" colSpan="4" width="40%" horizontalAlignment="left" style="font-size : 14%; padding : 5;" :items="seasons" @selectedIndexChanged="onchange($event)" @opened="onopen()" @closed="onclose()" selectedIndex="0"></DropDown>
              <Image row="0" col="6" class src="~/assets/images/drop.png" height="30%" width="30%"/>
            </GridLayout>
          </CardView>
          <label text="Select a Produce" class="submain headings"/>
          <CardView height="50" class="card" :radius="radValue" elevation="20">
                <!-- <Stacklayout width="80%">
                    <DropDown horizontalAlignment="left" style="font-size : 14%; margin:5;" :items="seasons" @selectedIndexChanged="onchange($event)" @opened="onopen()" @closed="onclose()" selectedIndex="0"></DropDown>
                </Stacklayout> -->
             <GridLayout rows="*" columns="*, *, *, *, *, *" style="vertical-align: middle">
              <DropDown row="0" col="0" colSpan="4" width="40%" horizontalAlignment="left" style="font-size : 14%; padding : 5;" :items="produces" @selectedIndexChanged="onchangeProduce($event)" @opened="onopenProduce()" @closed="oncloseProduce()" selectedIndex="0"></DropDown>
              <Image row="0" col="6" class src="~/assets/images/drop.png" height="30%" width="30%"/>
            </GridLayout>
          </CardView>
          <label text="Enter Variety" class="submain headings"/>
          <CardView height="50" class="card" :radius="radValue" elevation="20">
              <TextField v-model="deliverableData.variety" width="300" hint="" returnKeyType="done"/>
          </CardView>
          <CardView v-if="showButton" :opacity="buttonOpacity" :isEnabled="enableSubmitButton" @tap="saveData" height="50" class="getstarted" elevation="0" :radius="radValue">
            <Stacklayout style="vertical-align: middle" horizontalAlignment="center">
              <WrapLayout horizontalAlignment="center">
                  <Label horizontalAlignment="center" text="Save" class="loginBtn"/>
                  <ActivityIndicator color="white" height="20" :visibility="`${ show }`" width="20" :busy="`${this.actIndicator}`"/>
              </WrapLayout>
            </Stacklayout>
          </CardView>
             <CardView v-else :opacity="buttonOpacity" :isEnabled="enableSubmitButton" @tap="createWorkplan" height="50" class="getstarted" elevation="0" :radius="radValue">
            <Stacklayout style="vertical-align: middle" horizontalAlignment="center">
              <WrapLayout horizontalAlignment="center">
                  <Label horizontalAlignment="center" text="Create Workplan  " class="loginBtn"/>
                  <ActivityIndicator color="white" height="20" :visibility="`${ show }`" width="20" :busy="`${this.actIndicator}`"/>
                  <Stacklayout height="50%" width="9%" borderRadius="500" backgroundColor="#ffffff" style="vertical-align: middle" horizontalAlignment="center">
                      <Image class src="~/assets/images/right-arrow.png" height="45%" width="45%"/>
                  </Stacklayout>
              </WrapLayout>
            </Stacklayout>
          </CardView>
          <!--  <CardView :opacity="buttonOpacity" :isEnabled="enableSubmitButton" @tap="planEstimate" height="50" class="getstarted" elevation="0" :radius="radValue">
            <Stacklayout style="vertical-align: middle" horizontalAlignment="center">
              <WrapLayout horizontalAlignment="center">
                  <Label horizontalAlignment="center" text=" Set Produce Estimate" class="loginBtn"/>
                  <Stacklayout height="50%" width="9%" borderRadius="500" backgroundColor="#ffffff" style="vertical-align: middle" horizontalAlignment="center">
                      <Image class src="~/assets/images/right-arrow.png" height="45%" width="45%"/>
                  </Stacklayout>
                  <ActivityIndicator color="white" height="20" :visibility="`${ show }`" width="20" :busy="`${this.actIndicator}`"/>
              </WrapLayout>
            </Stacklayout>
          </CardView> -->
        </StackLayout>
      </Scrollview>
  </Page>
</template>

<script>
import Home from './Home';
import Signup from './Signup';
import ResponseModal from './ResponseModal';
import ShareModal from './ShareModal';
import WorkPlan from './WorkPlan';
import WorkplanList from './WorkplanList';
import TasksAssigned from './TasksAssigned';
import WorkPlanEstimate from './WorkPlanEstimate';
import ManageTask from './ManageTask';
import DeleteTask from './DeleteTask';
import EstimateProduce from './EstimateProduce';
import TaskManagement from './TaskManagement';
import DeliverablesEstimate from './DeliverablesEstimate';
import DeliverableList from './DeliverableList';
import DetailedEstimate from './DetailedEstimate';
import AssignedUsers from './AssignedUsers';
import * as application from "application";
import { AndroidApplication } from "application";
const Toast = require("nativescript-toast");
import axios from "axios";
import { checkInternet } from ".././utility/Utilities.js";
const internetOption = checkInternet();
const platformModule = require("tns-core-modules/platform");
import api from '../services/api';
const localStorage = require("nativescript-localstorage");
export default {
  data() {
    return {
      deliverableData: {
        token: localStorage.getItem('token'),
        mobApiKey: "aghx1z-vNMFC2Eh0tFhTWvpquxuFXNu2lTJnnoRogaynufCtnVRbtSCnhofwuxJunM0f1yTkon==",
        deliverableID: "",
        deliverableName: "",
        produce: "",
        variety: "",
        seasonID: "",
        season_name_id: ""
      },
      seasons: [],
      produces: [],
      passwordSecure: true,
      actIndicator: false,
      show: "collapsed",
      submitButton: true,
      radValue: null,
      marginValue: null,
      buttonOpacity: 1,
      bgColor: "",
      marginTop: "",
      progressValue: 20,
      progressMaxValue: 100,
      fetchData: {
        token: localStorage.getItem('token'),
        mobApiKey: "aghx1z-vNMFC2gJoyA52RcJoy6nxRgnxMc5FUuFXNu2lTJnnoRogaynufCtnVHWxMnhvpquxRbtSCnhofwuxJunM0f1yTkon"
      },
      showButton: true
    };
  },
  created: async function() {
    if (platformModule.isAndroid) {
      this.marginValue = "10%";
      this.radValue = "0";
      this.bgColor = "transparent";
      this.marginTop = "0";
    } else if (platformModule.isIOS) {
      this.marginValue = "50%";
      this.bgColor = "#3E8913";
      this.radValue = "0";
      this.marginTop = "10%";
    }
    if (!internetOption) {
      Toast.makeText("Internet connection not available", "long").show();
    }
    await this.loadInitializationData();

  },
  methods: {
    saveData: async function() {
      //set value for season_name_id
      if(this.deliverableData.produce == ""){
        this.deliverableData.produce  = this.produces[0];
      }
      if(this.deliverableData.seasonID == ""){
        this.deliverableData.seasonID = this.seasons[0];
      }
      const vm = this;
      this.submitButton = false;
      this.buttonOpacity = 0.4;
      this.actIndicator = true;
      this.show = "visible";
      console.log(JSON.stringify(this.deliverableData));
      try {
        const result = await api.createDeliverables(vm.deliverableData);
        console.log(result.data)
        if (result.data.status == '1' ) {
          localStorage.setItem('deliverable-name', vm.deliverableData.deliverableName)
          vm.actIndicator = false;     
          vm.$showModal(ResponseModal);
          vm.buttonOpacity = 1;
          vm.showButton = false;
        } else {
          vm.actIndicator = false;
          vm.buttonOpacity = 1;
          vm.show = "collapsed";
          vm.submitButton = true;
          await alert({
            title: "Creating deliverable failed",
            message: "Please try again",
            okButtonText: "OK"
          });
        }
      } catch (error) {
        vm.actIndicator = false;
        vm.show = "collapsed";
        vm.buttonOpacity = 1;
        vm.submitButton = true;
        await alert({
          title: "Creating deliverable failed",
          message: "Please try again",
          okButtonText: "OK"
        });
      }
    },
    createWorkplan() {
      this.$navigateTo(WorkPlan);
    },
    planEstimate() {
      this.$navigateTo(WorkPlanEstimate);
    },
    onProgressLoaded(args) {
        const sliderComponent = args.object;
        args.object.color = "#3E8914";
        args.object.backgroundColor = "#F2F2F2";
        sliderComponent.on("valueChange", (pargs) => {
        });
    },
    onopen() {},
    onclose() {},
    onchange(args){
      this.deliverableData.seasonID = `${this.seasons[args.newIndex]}`;
    },
    onopenProduce() {},
    oncloseProduce() {},
    onchangeProduce(args){
      this.deliverableData.produce = `${this.produces[args.newIndex]}`;
    },
    loadInitializationData: async function(){
        const res = await api.loadInitializationData(this.fetchData);
        this.deliverableData.deliverableID = res.data.getGeneratedID;
        localStorage.setItem('deliverable-id', this.deliverableData.deliverableID);
        const produceList = res.data.getProduceRecords;
        this.produces =  produceList.map(produce => produce.produce_name);
        const seasonList = res.data.getSeasonRecords;
        console.log(JSON.stringify(seasonList));
        this.seasons = seasonList.map(season => season.season_name_id);
        console.log(JSON.stringify(this.produces))
        console.log(JSON.stringify(this.seasons))
    }
  },
  computed: {
    acivityIndicator() {
      return this.actIndicator;
    },
    enableSubmitButton() {
      return this.submitButton;
    }
  }
};
</script>

<style scoped>
.coverImage {
    align-items: center;
    background-image: url('~/assets/images/bg3.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.form {
    margin-left: 15;
    margin-right: 15;
    flex-grow: 2;
    vertical-align: middle;
}

.card {
    background-color: #fff;
    color: #4d4d4d;
    margin: 0 15 0 15;
    padding: 10;
    border: 1px solid #000;
}

.getstarted {
    background-color: #3E9814;
    color: #4d4d4d;
    margin: 15 15 15 15;
    padding: 10;
}

TextField {
    border-width: 0 0 1 0;
    border-bottom-color: #00000000;
    font-size: 12;
}

.main {
    font-size: 16%;
    font-weight: 400;
    font-family: 'RobotoBlack';
    color: #134611;
    margin: 15 0 0 15;
}

.submain {
    font-weight: 200;
    font-size: 11%;
    color: #134611;
    font-family: 'KrubItalic';
    padding: 10% 0 10% 0;    
    margin: 0 15 5 15;
}

.pwd {
    color: #4F4F4F;
    font-size: 12%;
    font-family: 'CalibreLight'
}

.resetText {
    color: #3E8914;
    font-family: 'CalibreLight';
    font-size: 11%;
}

.loginBtn {
    font-size: 18%;
    font-family: 'KrubItalic';
    color: white;
}

.headings {
  font-weight: 400;
}
</style>
