<template>
    <Gridlayout :marginTop="marginTop">
    <Scrollview row="0">
        <StackLayout v-if="showText">
            <ActivityIndicator  marginBottom="10" color="#134611" height="20" :visibility="`${ show }`" width="20" :busy="`${this.actIndicator}`"/>
            <Image  class="pic" src="~/assets/images/plan.png" height="60%" width="55%" />
            <WrapLayout marginTop="-10%"  horizontalAlignment="center">
                <label class="info"  text="Welcome" textWrap="true" />
                <label class="info2" text=" Seyikemi" textWrap="true" />
            </WrapLayout>
            <label class="info" marginBottom="5%" horizontalAlignment="center" text="You currently have no plans" textWrap="true" />
            <label class="sub" text="Put your plans into perspective by planning out the season, expected produce and assign task to staffs based on competence." textWrap="true" />
            <CardView @tap="startPlan" height="50" class="getstarted" elevation="0">
                <Stacklayout style="vertical-align: middle" horizontalAlignment="center">
                    <Label horizontalAlignment="center">Start Planning</Label>
                </Stacklayout>
            </CardView>
        </StackLayout>
            <Scrollview v-else>
                <StackLayout class="form">
                    <ActivityIndicator  marginBottom="10" color="#134611" height="20" :visibility="`${ show }`" width="20" :busy="`${this.actIndicator}`"/>
                    <label text="Welcome" fontWeight="200" fontSize="18%" color="#134611" padding="5" class=""/>
                    <label text="Seyikemi," fontWeight="600" fontSize="22%" color="#134611" padding="5" class=""/>
                    <label text="Keep planning to get best output this season" textWrap="true" fontWeight="200" color="#134611" padding="5" fontSize="14%" class=""/>
                    <Wraplayout>
                        <CardView width="40%" height="80%" style="background-color: white; margin: 10" v-for="(item, i) in cardItems" @tap="goToPage(item)" :key="i" margin="8" elevation="20">
                            <StackLayout padding="5" style="vertical-align: middle" class="cardv">
                                <label  style="color: #134611; font-size: 12; font-weight: 400; font-family: CalibreRegular" paddingTop="20" paddingBottom="20" margin="10%" :text="item.heading" />
                                <Wraplayout>
                                    <label  style="color: #134611; font-size: 22%; font-weight: 400; font-family: CalibreRegular" margin="10%" :text="item.count" />
                                    <Image horizontalAlignment="center" verticalAlignment="middle" height="40%" width="40%" :src="item.img" />
                                </Wraplayout>
                            </StackLayout>
                        </CardView>
                    </Wraplayout>
                </Stacklayout>
            </Scrollview>
        </Scrollview>
        <Stacklayout style="border: 2px solid #7EC130; border-radius: 28;" row="0" marginTop="80%" marginLeft="65%">
            <FAB @tap="openPage" :visibility="`${ showFloatButton }`" icon="~/assets/images/add.png" rippleColor="#f1f1f1" class="fab-button"></FAB>
        </Stacklayout>
    </Gridlayout>
</template>

<script>
import api from '../services/api';
import NewPlan from './NewPlan';
import TasksAssigned from './TasksAssigned';
import Statistics from './Statistics';
import SocialFeed from './SocialFeed';
const localStorage = require("nativescript-localstorage");
const Toast = require("nativescript-toast");
import { checkInternet } from ".././utility/Utilities.js";
const internetOption = checkInternet();
export default {
    data() {
        return {
            firstText : 'Welcome Seyikemi',
            secondText: 'You currently have no plans',
            radValue: null,
            marginValue: null,
            marginTop: null,
            showFloatButton: 'collapsed',
            cardItems: [
                {
                id: 0,
                heading: 'Statistics',
                img: '~/assets/images/statistics.png',
                },
                {
                id: 1,
                heading: 'Deliverables',
                count: null,
                img: '~/assets/images/deliverables.png',
                },
                {
                id: 2,
                heading: 'Workplan',
                count: 20,
                img: '~/assets/images/workplan.png',
                },
                {
                id: 3,
                heading: 'Tasks Assigned',
                count: 10,
                img: '~/assets/images/task_assigned.png',
                },
                {
                id: 4,
                heading: 'Social Feed',
                img: '~/assets/images/social_feed.png',
                },
            ],
            getDeliverablesData: {
                token: localStorage.getItem('token'),
                mobApiKey: "aghx1z-vNMFC2Khg9xRnGupquxuFXNu2lTJnnoRogaynufCtnVRbtSCnhofwuxJunM0f1yTkon=="
            },
            deliverablesLength: null,
            show: 'visible',
            actIndicator: true,
            showText: true,
        };

    },
    computed: {
    },
    methods: {
        openPage() {
        },
        startPlan() {
            this.deliverablesLength++;
        },
        goToPage(event) {
            console.log(event);
            const pageId = event.id;
            switch (pageId) {
                case 0:
                    this.$navigateTo(Statistics);
                    break;
                case 1:
                    this.$navigateTo(NewPlan);                    
                    break;
                case 2:
                    // this.$navigateTo(NewPlan);       
                    break;
                case 3:
                    this.$navigateTo(TasksAssigned);   
                    break;
                case 4:
                    this.$navigateTo(SocialFeed);
                    break;    
                default:
                    break;
            }
        },
        getAllDeliverables: async function(){
            try {
                const result = await api.getAllDeliverables(this.getDeliverablesData);
                console.log(result.data.dataContent);
                this.deliverablesLength = parseInt((result.data.dataContent).length);
                this.cardItems[1].count = this.deliverablesLength;
                console.log(this.deliverablesLength)
                if ( this.deliverablesLength > 0 ) {
                    this.showFloatButton = 'visible';
                    this.show = 'collapsed';
                    this.actIndicator = false;
                    this.showText = false;
                }
                else {
                    this.showText = true;
                }
            } catch (error) {
                console.log(error)
            }
        }
    },
    beforeMount: async function(){
        await this.getAllDeliverables();
    },
    created: async function() {
        const platformModule = require("tns-core-modules/platform");
        if (platformModule.isAndroid) {
            this.marginValue = "30%";
            this.radValue = "80";
            this.marginTop = "5%";
        } else if (platformModule.isIOS) {
            this.marginValue = "0%";
            this.radValue = "30";
            this.marginTop = "10%";
        }
    },
};
</script>

<style scoped>
    .page {
        background-color: #F6F6F4
    }
    
    
    .img {
        margin-right: 80%;
        margin-bottom: 90%
    }
    
    /* .pic {
        margin-top: -260;
    } */
    
    .getstarted {
        background-color: #3E8914;
        color: #fff;
        margin: 15 15 15 15;
        padding: 10
    }
    
    TextField {
        border-width: 0 0 1 0;
        border-bottom-color: #00000000;
    }
    
    .info {
        font-family: 'CalibreRegular';
        font-weight: 200;
        font-size: 15;
        color: #134611;
    }

    .info2 {
        font-family: 'CalibreRegular';
        font-size: 15;
        font-weight: 500;
        color: #3E8914;
    }

    .sub {
        font-family: 'CalibreRegular';
        font-weight: 200;
        font-size: 13;
        color: #134611;
        margin: 0 10% 0 10%;
        text-align: center;
    }
    .form {
        margin: 3%
    }

    .fab-button {
        width: 60;
        height: 60;
        background-color: #fff;
        border-radius: 28;
        vertical-align: center;
    }
</style>
