<template>
  <Stacklayout class="modal">
        <Image @tap="$modal.close()" src="~/assets/images/error.png" height="30" width="30" horizontalAlignment="right" />
  </Stacklayout>
</template>

<script>
export default {
  data() {
    return {};
  },
  methods:{
  }
};
</script>

<style>
.msg {
    vertical-align: middle;
    text-align: center;
    font-size: 16%;
}

.modal {
    align-items: center;
    background-image: url('~/assets/images/deliver.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
</style>