<template>
  <Scrollview>
    <Stacklayout marginTop="10%" height="140%">
        <Image @tap="$modal.close()" margin="5%" src="~/assets/images/error.png" height="30" width="30" horizontalAlignment="right" />
        <Stacklayout borderWidth="1" borderColor="#7EC130" class="main">
            <label text="Plant Village Farmlands" class="head" textWrap="true"/>
            <label text="New Produce - Pawpaw" class="subhead" textWrap="true"/>
            <label text="Variety - Green Covering, Yellow covering" class="subhead" textWrap="true"/>
            <label text="Quantity - 20,000" class="subhead" textWrap="true"/>
            <!-- <Image src="~/assets/images/pawpaw.png" margin="0" padding="0" height="20%" width="20%" horizontalAlignment="right" /> -->
            <label text="Ready by 20, May 2019." class="subhead" textWrap="true"/>
            <label text="Call Mr Dotun" class="subhead" textWrap="true"/>
            <label text="0809 3568 467" class="subhead" textWrap="true"/>
            <label text="Powered by Agrohaven" class="smalltxt" horizontalAlignment="right" textWrap="true"/>
        </Stacklayout>
        <label text="Share on" horizontalAlignment="center" marginTop="8%" class="share" textWrap="true"/>
        <Stacklayout orientation="horizontal"  horizontalAlignment="center">
            <Image src="~/assets/images/whatsapp.png" padding="10" height="10%" width="10%" />
            <Image src="~/assets/images/twitter.png" height="10%" padding="10" width="10%" />
            <Image src="~/assets/images/facebook.png" height="10%" width="10%" padding="10" />
        </Stacklayout>
    </Stacklayout>
  </Scrollview>
</template>

<script>
export default {
  data() {
    return {};
  },
  methods:{
  }
};
</script>

<style>
.msg {
    /* vertical-align: middle; */
    /* text-align: center; */
    margin-top: -10%;
}

.modal {
    align-items: center;
    height: 70%;
    width: 100%;
}

.main {
    border: 3px solid #7EC130;
    align-items: center;
    margin-left: 15;
    margin-right: 15;
    flex-grow: 2;
    vertical-align: middle;
}

.share {
    font-size: 17%;
    text-decoration: underline;
}

.head {
    font-size: 16%;
    font-weight: 600;
    padding: 5%
}
.subhead {
    font-size: 16%;
    font-weight: 300;
    padding: 5%;
}

.smalltxt {
    font-size: 12%;
    color: gray;
}
</style>