<template>
  <Page actionBarHidden="true" class="coverImage">
      <Scrollview>
        <StackLayout class="form">
          <label text="Hey there!" class="main font-weight-bold"/>
          <label text="Create an account to login!" textWrap="true" class="submain"/>
          <CardView height="50" class="card" :radius="radValue" elevation="7">
            <GridLayout rows="*" columns="*, *, *, *, *, *" style="vertical-align: middle">
              <Image row="0" col="0" class src="~/assets/images/username.png" height="30%" width="30%"/>
              <TextField row="0" col="1" colSpan="4" v-model="loginData.email" width="200" hint="Username" returnKeyType="next"/>
            </GridLayout>
          </CardView>
          <CardView height="50" class="card" elevation="7" :radius="radValue">
            <GridLayout rows="*" columns="*, *, *, *, *, *" style="vertical-align: middle">
              <Image row="0" col="0" class src="~/assets/images/lock.png" height="30%" width="30%"/>
              <TextField row="0" col="1" colSpan="4" v-model="loginData.password" width="200" :secure="passwordSecure" hint="Password" returnKeyType="done"/>
              <Image row="0" col="5" style="margin-left: -5" @tap="showPassword" src="~/assets/images/view.png" height="30%" width="30%" />
            </GridLayout>
          </CardView>
          <CardView height="50" class="card" elevation="7" :radius="radValue">
            <GridLayout rows="*" columns="*, *, *, *, *, *" style="vertical-align: middle">
              <Image row="0" col="0" class src="~/assets/images/lock.png" height="30%" width="30%"/>
              <TextField row="0" col="1" colSpan="4" v-model="cpassword" width="200" :secure="confirmPasswordSecure" hint="Confirm Password" returnKeyType="done"/>
              <Image row="0" col="5" style="margin-left: -5" @tap="showConfirmPassword" src="~/assets/images/view.png" height="30%" width="30%" />
            </GridLayout>
          </CardView>    
          <WrapLayout horizontalAlignment="center">
              <label text="By signing up you accept the " class="pwd"/>
              <label text="Terms and conditions." class="resetText"/>
          </WrapLayout>      
          <CardView :opacity="buttonOpacity" :isEnabled="enableSubmitButton" height="50" @tap="registerUser" class="getstarted" elevation="0" :radius="radValue">
            <Stacklayout style="vertical-align: middle" horizontalAlignment="center">
              <WrapLayout horizontalAlignment="center">
                  <Label horizontalAlignment="center" text="Sign Up" class="loginBtn"/>
                  <ActivityIndicator color="white" height="20" :visibility="`${ show }`" width="20" :busy="`${this.actIndicator}`"/>
              </WrapLayout>
            </Stacklayout>
          </CardView>
          <WrapLayout @tap="loginScreen" marginTop="60" horizontalAlignment="center">
            <label text="Already a User?" fontSize="18%" class="pwd"/>
            <label text="Login" fontSize="18%" class="resetText"/>
          </WrapLayout>
        </StackLayout>
      </Scrollview>
  </Page>
</template>

<script>
import Login from './Login'
import * as application from "application";
import { AndroidApplication } from "application";
const Toast = require("nativescript-toast");
import axios from "axios";
import { checkInternet } from ".././utility/Utilities.js";
const internetOption = checkInternet();
const platformModule = require("tns-core-modules/platform");
const localStorage = require("nativescript-localstorage");
export default {
  data() {
    return {
      loginData: {
        email: "",
        password: ""
      },
      cpassword: "",
      passwordSecure: true,
      confirmPasswordSecure: true,
      actIndicator: false,
      show: "collapsed",
      submitButton: true,
      radValue: null,
      marginValue: null,
      buttonOpacity: 1,
    };
  },
  created() {
    if (!internetOption) {
      Toast.makeText("Internet connection not available", "long").show();
    }
    if (platformModule.isAndroid) {
      this.marginValue = "30%";
      this.radValue = "0";
    } else if (platformModule.isIOS) {
      this.marginValue = "0%";
      this.radValue = "0";
    }
  },
  methods: {
    toLower(params) {
      return params.trim().toLowerCase();
    },
    validateEmail(email) {
      var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return re.test(email);
    },
    loginScreen() {
        this.$navigateTo(Login);
    },
    registerUser() {

    },
    showPassword() {
      this.passwordSecure = !this.passwordSecure;
    },
    showConfirmPassword() {
      this.confirmPasswordSecure = !this.confirmPasswordSecure
    }

  },
  computed: {
    acivityIndicator() {
      return this.actIndicator;
    },
    enableSubmitButton() {
      return this.submitButton;
    },
  }
};
</script>

<style scoped>
.coverImage {
    align-items: center;
    /* flex-direction: column; */
    background-image: url('~/assets/images/bg6.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.form {
    margin-left: 15;
    margin-right: 15;
    flex-grow: 2;
    vertical-align: middle;
}

.card {
    background-color: #fff;
    color: #4d4d4d;
    margin: 15 15 15 15;
    padding: 10;
    border: 1px solid #000;
}

.getstarted {
    background-color: #3E9814;
    color: #4d4d4d;
    margin: 15 15 15 15;
    padding: 10;
}

TextField {
    border-width: 0 0 1 0;
    border-bottom-color: #00000000;
    font-size: 12;
}

.main {
    font-size: 30%;
    font-weight: 500;
    font-family: 'RobotoBlack';
    color: #134611;
    margin: 15 0 0 15;
}

.submain {
    font-weight: 200;
    font-size: 18%;
    color: #134611;
    font-family: 'HelveticaNeueLight';
    padding-bottom: 20%;    
    margin: 0 0 15 15;
}

.pwd {
    color: #4F4F4F;
    font-size: 12%;
    font-family: 'CalibreLight'
}

.resetText {
    color: #3E8914;
    font-family: 'CalibreLight';
    font-size: 11%;
}

.loginBtn {
    font-size: 18%;
    font-family: 'Krub-Italic';
    color: white;
}
</style>
