<template>
  <Page class="coverImage">
    <ActionBar flat="true" :backgroundColor="bgColor" color=#fff title="Social Feed">
      <NavigationButton text android.systemIcon="ic_menu_back"/>
        <ActionItem ios.position="right">
            <Wraplayout>
              <Image :marginRight="marginValue" src="~/assets/images/notification.png" height="20" width="20" />
              <Image :marginRight="marginValue" src="~/assets/images/user.png" height="20" width="20" />   
            </Wraplayout>   
        </ActionItem>
    </ActionBar>
      <Scrollview>
        <StackLayout :marginTop="marginTop" class="form">
            <Stacklayout width="70%" horizontalAlignment="left" borderWidth="0.5" borderColor="#134611" borderRadius="3" padding="20" orientation="horizontal">
                <label text="Select Deliverable" fontWeight="600" color="#134611"/>
                <Image src="~/assets/images/arrow_right.png" marginLeft="25" height="15" width="15" />   
            </Stacklayout>
            <Wraplayout>
                <CardView width="40%" height="80%" style="background-color: white; margin: 10" v-for="(item, i) in cardItems" :key="i" margin="8" elevation="20">
                    <StackLayout padding="5" style="vertical-align: middle" class="cardv">
                        <label  style="color: #134611; font-size: 10; font-weight: 400; font-family: CalibreRegular" paddingTop="20" paddingBottom="5" margin="10%" :text="item.heading" />
                        <GridLayout columns="3*, *" class="progressbar">
                        <StackLayout col="0" class="progressbar-value">
                            <label text="10000" style="color: #ffffff; font-size: 7;" />
                        </StackLayout>
                        </GridLayout>
                        <GridLayout columns="3*, *" class="progressbar1">
                        <StackLayout col="0" class="progressbar-value1">
                            <label text="10000" style="color: #ffffff; font-size: 7;" />
                        </StackLayout>
                        </GridLayout>
                        <GridLayout columns="3*, *" class="progressbar2">
                        <StackLayout col="0" class="progressbar-value2">
                            <label text="10000" style="color: #ffffff; font-size: 7;" />
                        </StackLayout>
                        </GridLayout>
                    </StackLayout>
                </CardView>
            </Wraplayout>
            <label text="Comments" fontWeight="600" color="#134611"/>
        </StackLayout>
      </Scrollview>
  </Page>
</template>

<script>
import * as application from "application";
import { AndroidApplication } from "application";
const Toast = require("nativescript-toast");
import axios from "axios";
import { checkInternet } from ".././utility/Utilities.js";
const internetOption = checkInternet();
const platformModule = require("tns-core-modules/platform");
import api from '../services/api';
const localStorage = require("nativescript-localstorage");
export default {
  data() {
    return {
        progressValue: 20,
        progressMaxValue: 100,
        cardItems: [
            {
                id: 0,
                heading: 'Twitter',
                count: 10,
                img: '~/assets/images/target.png',
            },
            {
                id: 1,
                heading: 'Facebook',
                count: 50,
                img: '~/assets/images/wheelbarrow.png',
            },
            {
                id: 2,
                heading: 'Instagram',
                count: 200,
                img: '~/assets/images/clipboard.png',
            },
        ],
    }
  },
  created: async function() {
    if (platformModule.isAndroid) {
      this.marginValue = "10%";
      this.radValue = "0";
      this.bgColor = "transparent";
      this.marginTop = "0";
    } else if (platformModule.isIOS) {
      this.marginValue = "50%";
      this.bgColor = "#3E8913";
      this.radValue = "0";
      this.marginTop = "10%";
    }
    if (!internetOption) {
      Toast.makeText("Internet connection not available", "long").show();
    }

  },
  methods: {
    onProgressLoaded(args) {
        const sliderComponent = args.object;
        args.object.color = "#3E8914";
        args.object.backgroundColor = "#F2F2F2";
        sliderComponent.on("valueChange", (pargs) => {
        });
    },
  },
  computed: {
  }
};
</script>

<style scoped>
.coverImage {
    align-items: center;
    background-image: url('~/assets/images/bg1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.form {
    margin-left: 15;
    margin-right: 15;
    flex-grow: 2;
    
}

.card {
    background-color: #fff;
    color: #4d4d4d;
    margin: 0 15 0 15;
    padding: 10;
    border: 1px solid #000;
}

.getstarted {
    background-color: #3E9814;
    color: #4d4d4d;
    margin: 15 15 15 15;
    padding: 10;
}

TextField {
    border-width: 0 0 1 0;
    border-bottom-color: #00000000;
    font-size: 12;
}

.main {
    font-size: 16%;
    font-weight: 400;
    font-family: 'RobotoBlack';
    color: #134611;
    margin: 15 0 0 15;
}

.submain {
    font-weight: 200;
    font-size: 13%;
    color: #134611;
    font-family: 'KrubItalic';
    padding: 10;
}

.pwd {
    color: #4F4F4F;
    font-size: 12%;
    font-family: 'CalibreLight'
}

.resetText {
    color: #3E8914;
    font-family: 'CalibreLight';
    font-size: 11%;
}

.loginBtn {
    font-size: 18%;
    font-family: 'KrubItalic';
    color: white;
}

.headings {
  font-weight: 400;
}

.progressbar {
    height: 11;
    margin: 10;
    border-radius: 10;
    border-color: transparent;
    border-width: 1;
    background: #F2F2F2;
}
.progressbar-value {
    background: linear-gradient(180deg, #64B4FD 32%, #7299FE 100%);
}
.progressbar1 {
    height: 11;
    margin: 10;
    border-radius: 10;
    border-color: transparent;
    border-width: 1;
    background: #F2F2F2;    
}
.progressbar-value1 {
    background: linear-gradient(0deg, #FBBA82 0%, #FFA150 67.91%);
}
.progressbar2 {
    height: 11;
    margin: 10;
    border-radius: 10;
    border-color: transparent;
    border-width: 1;
    background: #F2F2F2;
}
.progressbar-value2 {
    background: #EB5757;
}
</style>
