<template>
  <Page class="coverImage">
    <ActionBar flat="true" :backgroundColor="bgColor" color=#fff title="Statistics">
      <NavigationButton text android.systemIcon="ic_menu_back"/>
        <ActionItem ios.position="right">
            <Wraplayout>
              <Image :marginRight="marginValue" src="~/assets/images/notification.png" height="20" width="20" />
              <Image :marginRight="marginValue" src="~/assets/images/user.png" height="20" width="20" />   
            </Wraplayout>   
        </ActionItem>
    </ActionBar>
      <Scrollview>
        <StackLayout :marginTop="marginTop" class="form">
          <label text="Summary" class="main font-weight-bold"/>
            <Wraplayout>
                <CardView width="40%" height="80%" style="background-color: white; margin: 10" v-for="(item, i) in cardItems" :key="i" margin="8" elevation="20">
                    <StackLayout padding="5" style="vertical-align: middle" class="cardv">
                        <label  style="color: #134611; font-size: 10; font-weight: 400; font-family: CalibreRegular" paddingTop="20" paddingBottom="20" margin="10%" :text="item.heading" />
                        <Wraplayout>
                            <label  style="color: #134611; font-size: 25%; font-weight: 400; font-family: CalibreRegular" margin="10%" :text="item.count" />
                            <Image horizontalAlignment="center" verticalAlignment="middle" height="30%" width="30%" :src="item.img" />
                        </Wraplayout>
                    </StackLayout>
                </CardView>
            </Wraplayout>
            <Stacklayout padding="5" orientation="horizontal" backgroundColor="#3E8914" borderRadius="10" horizontalAlignment="right" >
                <label text="Filter" color="white" padding="5" class="font-weight-bold" />
                <Image padding="5" height="5%" width="5%" src="~/assets/images/filter.png" />
            </Stacklayout>
            <Wraplayout>
                <CardView width="40%" height="80%" style="background-color: white; margin: 10" v-for="(item, i) in performanceScale" :key="i" margin="8" elevation="20">
                    <StackLayout padding="5" style="vertical-align: middle" class="cardv">
                        <label  style="color: #134611; font-size: 10; font-weight: 400; font-family: CalibreRegular" paddingTop="20" paddingBottom="20" margin="10%" :text="item.heading" />
                        <!-- <AnimatedCircle
                            backgroundColor="transparent"
                            width="100"
                            height="100"
                            animated="false"
                            rimColor="#E0E0E0"
                            barColor="#7EC130"
                            fillColor="#eee"
                            clockwise="true"
                            rimWidth="5"
                            progress="80"
                            text="80%"
                            textSize="15"
                            textColor="#134611"> </AnimatedCircle> -->
                    </StackLayout>
                </CardView>
            </Wraplayout>
            <Wraplayout>
                <CardView width="70%" style="background-color: white; margin: 10" v-for="(item, i) in pieChartData" :key="i" margin="8" elevation="20">
                    <StackLayout padding="5" style="vertical-align: middle" class="cardv">
                        <label  style="color: #134611; font-size: 10; font-weight: 400; font-family: CalibreRegular" margin="10%" :text="item.heading" />
                        <RadPieChart height="70%" allowAnimation="true" row="0">
                            <PieSeries v-tkPieSeries
                                    selectionMode="DataPoint"
                                    expandRadius="0.4"
                                    outerRadiusFactor="0.7"
                                    valueProperty="Amount"
                                    legendLabel="Brand"
                                    :items="pieSource" />
                            <RadLegendView v-tkPieLegend position="Right" title="Brands" offsetOrigin="TopRight" width="110" enableSelection="true"></RadLegendView>
                        </RadPieChart>
                    </StackLayout>
                </CardView>
            </Wraplayout>
            <label text="Select Staff" style="color: #134611; font-size: 18%; font-weight: 400; font-family: CalibreRegular"/>
            <CardView width="100%" height="100%" style="background-color: white; margin: 10" v-for="(item, i) in staff" :key="i" elevation="20">
                <label style="color: #134611; font-size: 16%; font-weight: 100; font-family: CalibreRegular; padding: 10" :text="item.name" />
            </CardView>
            <Wraplayout>
                <CardView width="80%" style="background-color: white; margin: 10" v-for="(item, i) in pieChartData" :key="i" margin="8" elevation="0">
                    <StackLayout padding="5" style="vertical-align: middle" class="cardv">
                        <label style="color: #134611; font-size: 16%; font-weight: 200; font-family: CalibreRegular" margin="10%" text="Task Assigned Stat" />
                        <RadPieChart height="80%" allowAnimation="true" row="0">
                            <PieSeries v-tkPieSeries
                                    selectionMode="DataPoint"
                                    expandRadius="0.4"
                                    outerRadiusFactor="0.7"
                                    valueProperty="Amount"
                                    legendLabel="Brand"
                                    :items="pieSource" />
                            <RadLegendView v-tkPieLegend position="Right" title="Brands" offsetOrigin="TopRight" width="110" enableSelection="true"></RadLegendView>
                        </RadPieChart>
                    </StackLayout>
                </CardView>
            </Wraplayout>
            <label style="color: #134611; font-size: 16%; font-weight: 200; font-family: CalibreRegular" margin="10%" text="Task Assigned" />
            <CardView width="100%" height="100%" style="background-color: white; margin: 10" v-for="(item, i) in TaskAssigned" :key="i" elevation="20">
                <Stacklayout>            
                    <GridLayout class="upcoming" rows="auto, auto" columns="*, *, *, *, *, *">
                        <label row="0" colSpan="4" col="0" :text="item.material" class="submain headings" fontWeight="400"  textWrap="true" />
                        <label row="1" colSpan="4" col="0" :text="item.date"  class="submain" textWrap="true" />
                        <label row="1" colSpan="4" col="4" :text="item.name"  class="submain" fontWeight="400" textWrap="true" />
                    </GridLayout>   
                </Stacklayout>   
            </CardView>
        </StackLayout>
      </Scrollview>
  </Page>
</template>

<script>
import * as application from "application";
import { AndroidApplication } from "application";
const Toast = require("nativescript-toast");
import axios from "axios";
import { checkInternet } from ".././utility/Utilities.js";
const internetOption = checkInternet();
const platformModule = require("tns-core-modules/platform");
import api from '../services/api';
const localStorage = require("nativescript-localstorage");
export default {
  data() {
    return {
        pieSource: 
            [
                { Brand: 'Audi', Amount: 10 },
                { Brand: 'Mercedes', Amount: 76 },
                { Brand: 'Fiat', Amount: 60 },
                { Brand: 'BMW', Amount: 24 },
                { Brand: 'Crysler', Amount: 40 }
            ],
        cardItems: [
            {
                id: 0,
                heading: 'Total Deliverables',
                count: 10,
                img: '~/assets/images/target.png',
            },
            {
                id: 1,
                heading: 'Total Workplan',
                count: 50,
                img: '~/assets/images/wheelbarrow.png',
            },
            {
                id: 2,
                heading: 'Total Task',
                count: 200,
                img: '~/assets/images/clipboard.png',
            },
        ],
        performanceScale: [
            {
                id: 0,
                heading: 'Deliverables',
                scale: 80,
                progress: 80
            },
            {
                id: 1,
                heading: 'Workplan Status',
                scale: 20,
                progress: 80
            }
        ],
        pieChartData: [
            {
                id: 0,
                heading: 'Tasks Assigned'
            }
        ],
        staff: [
            {
                id: 0,
                name: 'Seyike Sojirin'
            }
        ],
        TaskAssigned: [
            {
                material: 'Plant Cassava',
                quantity: '20000 crops',
                date: '2 May 2018 - 3 June 2018',
                measure: "30 Hectare / 20m spacing",
                name: "Seyike Sojirin"
            },
            {
                material: 'Plant Cassava',
                quantity: '20000 crops',
                date: '2 May 2018 - 3 June 2018',
                measure: "30 Hectare / 20m spacing",
                name: "Seyike Sojirin"
            },
            {
                material: 'Plant Cassava',
                quantity: '20000 crops',
                date: '2 May 2018 - 3 June 2018',
                measure: "30 Hectare / 20m spacing",
                name: "Seyike Sojirin"
            },
            {
                material: 'Plant Cassava',
                quantity: '20000 crops',
                date: '2 May 2018 - 3 June 2018',
                measure: "30 Hectare / 20m spacing",
                name: "Seyike Sojirin"

            }
        ]
    }
  },
  created: async function() {
    if (platformModule.isAndroid) {
      this.marginValue = "10%";
      this.radValue = "0";
      this.bgColor = "transparent";
      this.marginTop = "0";
    } else if (platformModule.isIOS) {
      this.marginValue = "50%";
      this.bgColor = "#3E8913";
      this.radValue = "0";
      this.marginTop = "10%";
    }
    if (!internetOption) {
      Toast.makeText("Internet connection not available", "long").show();
    }

  },
  methods: {
        random(min = 50, max = 150) {
            return Math.floor(Math.random() * (max - min + 1)) + min;
        },
  },
  computed: {
  }
};
</script>

<style scoped>
.coverImage {
    align-items: center;
    background-image: url('~/assets/images/bg1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.form {
    margin-left: 15;
    margin-right: 15;
    flex-grow: 2;
    vertical-align: middle;
}

.card {
    background-color: #fff;
    color: #4d4d4d;
    margin: 0 15 0 15;
    padding: 10;
    border: 1px solid #000;
}

.getstarted {
    background-color: #3E9814;
    color: #4d4d4d;
    margin: 15 15 15 15;
    padding: 10;
}

TextField {
    border-width: 0 0 1 0;
    border-bottom-color: #00000000;
    font-size: 12;
}

.main {
    font-size: 16%;
    font-weight: 400;
    font-family: 'RobotoBlack';
    color: #134611;
    margin: 15 0 0 15;
}

.submain {
    font-weight: 200;
    font-size: 13%;
    color: #134611;
    font-family: 'KrubItalic';
    padding: 10;
}

.pwd {
    color: #4F4F4F;
    font-size: 12%;
    font-family: 'CalibreLight'
}

.resetText {
    color: #3E8914;
    font-family: 'CalibreLight';
    font-size: 11%;
}

.loginBtn {
    font-size: 18%;
    font-family: 'KrubItalic';
    color: white;
}

.headings {
  font-weight: 400;
}

	.home-panel {
		vertical-align: center;
		font-size: 20;
		margin: 15;
	}

	.description-label {
		margin-bottom: 15;
	}
</style>
