<template>
  <!-- <Page class="coverImage">
    <ActionBar flat="true" :backgroundColor="bgColor" color=#fff title="New Plan">
      <NavigationButton text android.systemIcon="ic_menu_back" @tap="back"/>
        <ActionItem ios.position="right">
            <Wraplayout>
              <Image :marginRight="marginValue" src="~/assets/images/notification.png" height="20" width="20" />
              <Image :marginRight="marginValue" src="~/assets/images/user.png" height="20" width="20" />   
            </Wraplayout>   
        </ActionItem>
    </ActionBar> -->
    <GridLayout row="*">
      <Scrollview row="0">
        <StackLayout :marginTop="marginTop" class="form">
            <label text="Assets" class="main font-weight-bold"/>
          <Wraplayout>
            <Stacklayout borderColor="#134611" marginRight="5%" padding="30%" borderWidth="1" borderRadius="700"  height="40%">
              <Image src="~/assets/images/tractor.png"  height="15%" width="7%" horizontalAlignment="center"/>
            </Stacklayout>
            <Stacklayout borderColor="#134611" padding="30%" borderWidth="1" borderRadius="700"  height="40%">
              <Image src="~/assets/images/driller.png" height="15%" width="7%" horizontalAlignment="center"/>
            </Stacklayout>
          </Wraplayout>
          <FlexboxLayout flexDirection="row" justifyContent="space-between">
            <label text="All tasks" class="main font-weight-bold"/>
            <label text="15" class="main" marginRight="-20%"/>   
          </FlexboxLayout>
          <Wraplayout>
          <label marginTop="5%" text="   You have been assigned these tasks by " class="sub"/>
          <label text="   Mr Segun, Mrs Anna" class="sub headings"/>
          </Wraplayout>
            <CardView style="background-color: white; margin: 13" v-for="(arr, i) in cardItems" :key="i" margin="5" elevation="20">
          <Stacklayout borderLeftColor="#EB5757" borderLeftWidth="3">            
            <GridLayout class="upcoming" rows="*, *" columns="*, *, *, *, *">
                <label row="0" colSpan="4" col="0" :text="arr.material" fontSize="14%" class="submain font-weight-bold " textWrap="true" />
                <!-- <label row="0" col="3" colSpan="2" :text="arr.serial" class="submain font-weight-bold" textWrap="true" /> -->
                <!-- <Image row="0" colSpan="1" col="5" src="~/assets/images/delete_red.png" height="4%" width="4%"/> -->
                <label row="1" colSpan="4" col="0" :text="arr.date"  class="submain font-weight-bold headings" textWrap="true" />
                <label row="1" colSpan="2" col="3" :text="arr.field" fontSize="14%" class="submain font-weight-bold" textWrap="true" />
            </GridLayout>
          </Stacklayout>
        </CardView>
        </StackLayout>
      </Scrollview>
        <Stacklayout  row="0" marginTop="80%" marginLeft="65%">
          <FAB style="border: 2px solid #7EC130; border-radius: 28;" @tap="openPage" icon="~/assets/images/add.png" rippleColor="#f1f1f1" class="fab-button"></FAB>
        </Stacklayout>
          </GridLayout>
  <!-- </Page> -->
</template>

<script>
import Home from './Home';
import Signup from './Signup';
import ResponseModal from './ResponseModal';
import WorkPlan from './WorkPlan';
import WorkplanList from './WorkplanList';
import ToolRequest from './ToolRequest';
import * as application from "application";
import { AndroidApplication } from "application";
const Toast = require("nativescript-toast");
import axios from "axios";
import { checkInternet } from ".././utility/Utilities.js";
const internetOption = checkInternet();
const platformModule = require("tns-core-modules/platform");
const localStorage = require("nativescript-localstorage");
export default {
  data() {
    return {
      deliverableData: {
        email: "",
        password: ""
      },
      passwordSecure: true,
      actIndicator: false,
      show: "collapsed",
      submitButton: true,
      radValue: null,
      marginValue: null,
      buttonOpacity: 1,
      bgColor: "",
      marginTop: "",
      cardItems: [{
          material: '100 tubers of yam',
          serial: 'D098JKHS',
          field: 'Field A',
          season: 'Summer',
          date: '2 May 2018 - 3 June 2018'
      },
      {
          material: '100 tubers of yam',
          serial: 'D098JKHS',
          field: 'Field A',
          season: 'Summer',
          date: '2 May 2018 - 3 June 2018'
      },
      {
          material: '100 tubers of yam',
          serial: 'D098JKHS',
          field: 'Field A',
          season: 'Summer',
          date: '2 May 2018 - 3 June 2018'
      },
      {
          material: '100 tubers of yam',
          serial: 'D098JKHS',
          field: 'Field A',
          season: 'Summer',
          date: '2 May 2018 - 3 June 2018'
      },
      {
          material: '100 tubers of yam',
          serial: 'D098JKHS',
          field: 'Field A',
          season: 'Summer',
          date: '2 May 2018 - 3 June 2018'
      }]
    };
  },
  created() {
    if (!internetOption) {
      Toast.makeText("Internet connection not available", "long").show();
    }
    if (platformModule.isAndroid) {
      this.marginValue = "10%";
      this.radValue = "0";
      this.bgColor = "transparent";
      this.marginTop = "0";
    } else if (platformModule.isIOS) {
      this.marginValue = "50%";
      this.bgColor = "#3E8913";
      this.radValue = "0";
      this.marginTop = "5%";
    }
  },
  methods: {
    toLower(params) {
      return params.trim().toLowerCase();
    },
    validateEmail(email) {
      var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return re.test(email);
    },
    signupScreen() {
      // this.$router.push('/signup');
      this.$navigateTo(Signup);
    },
    showPassword() {
      this.passwordSecure = !this.passwordSecure;
    },
    loginUser() {
      this.$store.commit('setTab', 'appDash')
      this.$store.commit('setHeader', 'Dashboard')
      this.$navigateTo(Home, {
        clearHistory: true
      })
    },
    openPage() {
      this.$navigateTo(ToolRequest);
    }
  },
  computed: {
    acivityIndicator() {
      return this.actIndicator;
    },
    enableSubmitButton() {
      return this.submitButton;
    }
  }
};
</script>

<style scoped>
.coverImage {
    align-items: center;
    background-image: url('~/assets/images/bg5.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.form {
    margin-left: 15;
    margin-right: 15;
    flex-grow: 2;
    vertical-align: middle;
}

.card {
    background-color: #fff;
    color: #4d4d4d;
    margin: 0 15 0 15;
    padding: 10;
    border: 1px solid #000;
}

.getstarted {
    background-color: #3E9814;
    color: #4d4d4d;
    margin: 15 15 15 15;
    padding: 10;
}

TextField {
    border-width: 0 0 1 0;
    border-bottom-color: #00000000;
    font-size: 12;
}

.main {
    font-size: 16%;
    font-weight: 400;
    font-family: 'RobotoBlack';
    color: #134611;
    margin: 15 0 0 15;
}

.submain {
    font-weight: 400;
    font-size: 11%;
    color: #134611;
    font-family: 'KrubItalic';
    padding: 10% 0 10% 0;    
    margin: 0 15 5 15;
}

.pwd {
    color: #4F4F4F;
    font-size: 12%;
    font-family: 'CalibreLight'
}

.sub {
    font-weight: 200;
    font-size: 13%;
    color: #134611;
    font-family: 'KrubItalic';
    padding: 0% 0 0% 0;    
    margin: 0 0 0 0;
}

.resetText {
    color: #3E8914;
    font-family: 'CalibreLight';
    font-size: 11%;
}

.loginBtn {
    font-size: 14%;
    font-family: 'KrubItalic';
    color: white;
}

.headings {
  font-weight: 400;
}

.add {
    font-weight: 400;
    font-size: 14%;
    color: #134611;
    font-family: 'KrubItalic';
    padding: 10% 0 10% 0;    
    margin: 0 0 5 0;
}

.upcoming {
    margin-left: 15;
    padding: 0
}

  .fab-button {
    width: 56;
    height: 56;
    background-color: #fff;
    border-radius: 28;
    vertical-align: center;
  }
</style>
