<template>
  <Page class="coverImage">
    <ActionBar flat="true" :backgroundColor="bgColor" color=#fff title="New Plan">
      <NavigationButton text android.systemIcon="ic_menu_back" @tap="back"/>
        <ActionItem ios.position="right">
            <Wraplayout>
              <Image :marginRight="marginValue" src="~/assets/images/notification.png" height="20" width="20" />
              <Image :marginRight="marginValue" src="~/assets/images/user.png" height="20" width="20" />   
            </Wraplayout>   
        </ActionItem>
    </ActionBar>
          <GridLayout row="*">
      <Scrollview row="0">
        <StackLayout :marginTop="marginTop" class="form">
          <label text="Tasks Assigned" class="main font-weight-bold"/>
          <label text="100 Tumbers of yam" class="submain"/>
            <CardView style="background-color: white; margin: 13" v-for="(arr, i) in cardItems" :key="i" margin="5" elevation="20">
                <Stacklayout borderLeftColor="#D9D40C" borderLeftWidth="3">            
                    <GridLayout class="upcoming" rows="*, *" columns="*, *, *, *, *, *">
                        <label row="0" colSpan="4" col="0" :text="arr.material" class="submain font-weight-bold headings" textWrap="true" />
                        <Image row="0" colSpan="1" col="4" src="~/assets/images/delete_grey.png" height="4%" width="4%"/>
                        <Image row="0" colSpan="1" col="5" src="~/assets/images/edit_green.png" height="4%" width="4%"/>
                        <label row="1" colSpan="3" col="0" :text="arr.date"  class="submain font-weight-bold" textWrap="true" />
                        <label row="1" colSpan="3" col="4" :text="arr.name" class="submain font-weight-bold headings" textWrap="true" />
                    </GridLayout>
                </Stacklayout>
            </CardView>
        
        </StackLayout>
      </Scrollview>
        <Stacklayout style="border: 2px solid #7EC130;border-radius: 28;" row="0" marginTop="85%" marginLeft="70%">
          <FAB  icon="~/assets/images/add.png" rippleColor="#f1f1f1" class="fab-button"></FAB>
        </Stacklayout>
          </GridLayout>
  </Page>
</template>

<script>
import Home from './Home';
import Signup from './Signup';
import ResponseModal from './ResponseModal';
import WorkPlan from './WorkPlan';
import * as application from "application";
import { AndroidApplication } from "application";
const Toast = require("nativescript-toast");
import axios from "axios";
import { checkInternet } from ".././utility/Utilities.js";
const internetOption = checkInternet();
const platformModule = require("tns-core-modules/platform");
const localStorage = require("nativescript-localstorage");
export default {
  data() {
    return {
      deliverableData: {
        email: "",
        password: ""
      },
      passwordSecure: true,
      actIndicator: false,
      show: "collapsed",
      submitButton: true,
      radValue: null,
      marginValue: null,
      buttonOpacity: 1,
      bgColor: "",
      marginTop: "",
      cardItems: [{
          material: '100 tubers of yam',
          serial: 'D098JKHS',
          date: '2 May 2018 - 3 June 2018',
          name: "Seyike Sojirin"
      },
      {
          material: '100 tubers of yam',
          serial: 'D098JKHS',
          date: '2 May 2018 - 3 June 2018',
          name: "Seyike Sojirin"
      },
      {
          material: '100 tubers of yam',
          serial: 'D098JKHS',
          date: '2 May 2018 - 3 June 2018',
          name: "Seyike Sojirin"
      },
      {
          material: '100 tubers of yam',
          serial: 'D098JKHS',
          date: '2 May 2018 - 3 June 2018',
          name: "Seyike Sojirin"
      },
      {
          material: '100 tubers of yam',
          serial: 'D098JKHS',
          date: '2 May 2018 - 3 June 2018',
          name: "Seyike Sojirin"
      },
      {
          material: '100 tubers of yam',
          serial: 'D098JKHS',
          date: '2 May 2018 - 3 June 2018',
          name: "Seyike Sojirin"
      },
      {
          material: '100 tubers of yam',
          serial: 'D098JKHS',
          date: '2 May 2018 - 3 June 2018',
          name: "Seyike Sojirin"
      }
      ]
    };
  },
  created() {
    if (!internetOption) {
      Toast.makeText("Internet connection not available", "long").show();
    }
    if (platformModule.isAndroid) {
      this.marginValue = "10%";
      this.radValue = "0";
      this.bgColor = "transparent";
      this.marginTop = "0";
    } else if (platformModule.isIOS) {
      this.marginValue = "50%";
      this.bgColor = "#3E8913";
      this.radValue = "0";
      this.marginTop = "10%";
    }
  },
  methods: {
    toLower(params) {
      return params.trim().toLowerCase();
    },
    validateEmail(email) {
      var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return re.test(email);
    },
    signupScreen() {
      // this.$router.push('/signup');
      this.$navigateTo(Signup);
    },
    showPassword() {
      this.passwordSecure = !this.passwordSecure;
    },
    loginUser() {
      this.$store.commit('setTab', 'appDash')
      this.$store.commit('setHeader', 'Dashboard')
      this.$navigateTo(Home, {
        clearHistory: true
      })
    },
    saveData() {
        this.$showModal(ResponseModal);
    },
    createWorkplan() {
      this.$navigateTo(WorkPlan)
    }
  },
  computed: {
    acivityIndicator() {
      return this.actIndicator;
    },
    enableSubmitButton() {
      return this.submitButton;
    }
  }
};
</script>

<style scoped>
.coverImage {
    align-items: center;
    background-image: url('~/assets/images/bg4.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.form {
    margin-left: 15;
    margin-right: 15;
    flex-grow: 2;
    vertical-align: middle;
}

.card {
    background-color: #fff;
    color: #4d4d4d;
    margin: 0 15 0 15;
    padding: 10;
    border: 1px solid #000;
}

.getstarted {
    background-color: #3E9814;
    color: #4d4d4d;
    margin: 15 15 15 15;
    padding: 10;
}

TextField {
    border-width: 0 0 1 0;
    border-bottom-color: #00000000;
    font-size: 12;
}

.main {
    font-size: 16%;
    font-weight: 400;
    font-family: 'RobotoBlack';
    color: #134611;
    margin: 15 0 0 15;
}

.submain {
    font-weight: 200;
    font-size: 11%;
    color: #134611;
    font-family: 'KrubItalic';
    padding: 10% 0 10% 0;    
    margin: 0 15 5 15;
}

.pwd {
    color: #4F4F4F;
    font-size: 12%;
    font-family: 'CalibreLight'
}

.resetText {
    color: #3E8914;
    font-family: 'CalibreLight';
    font-size: 11%;
}

.loginBtn {
    font-size: 14%;
    font-family: 'KrubItalic';
    color: white;
}

.headings {
  font-weight: 400;
}

.add {
    font-weight: 400;
    font-size: 14%;
    color: #134611;
    font-family: 'KrubItalic';
    padding: 10% 0 10% 0;    
    margin: 0 0 5 0;
}

.upcoming {
    margin-left: 15;
    padding: 0
}

  .fab-button {
    width: 56;
    height: 56;
    background-color: #fff;
    border-radius: 28;
    vertical-align: center;
  }
</style>
