<template>
  <Page class="coverImage">
    <ActionBar flat="true" :backgroundColor="bgColor" color=#fff title="Request for Tools">
      <NavigationButton text android.systemIcon="ic_menu_back" @tap="back"/>
        <ActionItem ios.position="right">
            <Wraplayout>
              <Image :marginRight="marginValue" src="~/assets/images/notification.png" height="20" width="20" />
              <Image :marginRight="marginValue" src="~/assets/images/user.png" height="20" width="20" />   
            </Wraplayout>   
        </ActionItem>
    </ActionBar>
    <Docklayout>
            <TabView dock="top" tabBackgroundColor="white" selectedTabTextColor="#3E8914" tabTextColor="3E8914" iosIconRenderingMode="alwaysOriginal" androidSelectedTabHighlightColor="#3E8914" ref="tabs">
            <TabViewItem textTransform="capitalize" title="Assets">
              <!-- <ScrollView style="margin-top: 10%"> -->
                <GridLayout row="*" class="">
                  <ListView row="0" horizontalAlignment="center" height="100%" for="item in filteredArrayItem" class="task" @itemTap="onItemTap" separatorColor="grey">
                      <v-template>
                          <CardView ref="cardv" height="50" style="background-color: transparent" margin="5" elevation="0" shadowOpacity="0">
                              <StackLayout marginTop="20%" marginBottom="20%" flexDirection="row" justifyContent="space-between">
                                  <GridLayout rows="*" columns="*, *, *, *, *, *, *">
                                      <WrapLayout marginLeft="-10%" row="0" colSpan="4" col="1">
                                          <label :text="`${item.asset}`" style="font-size: 15%; color: black; margin-right: 5%" class="headings" textWrap="true" />
                                          <Image src="~/assets/images/tractor.png" width="20" height="20" />
                                      </WrapLayout>
                                      <WrapLayout marginRight="-10%" row="0" colSpan="3" col="5">
                                          <Stacklayout width="20" height="20"  verticalAlignment="middle" borderColor="#134611" borderWidth="1" margin="5%">
                                            <label text="-" style="font-size: 16%; color: #134611" horizontalAlignment="center" class="headings" textWrap="true" />
                                          </Stacklayout>
                                          <label :text="`${item.quantity}`" style="font-size: 15%; color: #134611" class="headings" textWrap="true" />
                                          <Stacklayout width="20" height="20" verticalAlignment="middle" borderColor="#134611" borderWidth="1" margin="5%">
                                            <label text="+" style="font-size: 15%; color: black" horizontalAlignment="center" class="headings" textWrap="true" />
                                          </Stacklayout>
                                      </WrapLayout>
                                  </GridLayout>
                              </StackLayout>
                          </CardView>
                      </v-template>
                  </ListView>
                  <CardView row="0" marginTop="70%" dock="bottom" :opacity="buttonOpacity" :isEnabled="enableSubmitButton" @tap="planEstimate" height="50" class="getstarted" elevation="0" :radius="radValue">
                  <Stacklayout style="vertical-align: middle" horizontalAlignment="center">
                    <WrapLayout horizontalAlignment="center">
                        <Label horizontalAlignment="center" text="Request" class="loginBtn"/>
                        <ActivityIndicator color="white" height="20" :visibility="`${ show }`" width="20" :busy="`${this.actIndicator}`"/>
                    </WrapLayout>
                  </Stacklayout>
                </CardView>
                </GridLayout>
              <!-- </ScrollView> -->
            </TabViewItem>
            <TabViewItem textTransform="capitalize" title="Store">
                <StackLayout style="margin-top: 10%">
            <CardView :opacity="buttonOpacity" :isEnabled="enableSubmitButton" @tap="planEstimate" height="50" class="getstarted" elevation="0" :radius="radValue">
            <Stacklayout style="vertical-align: middle" horizontalAlignment="center">
              <WrapLayout horizontalAlignment="center">
                  <Label horizontalAlignment="center" text=" Set Produce Estimate" class="loginBtn"/>
                  <Stacklayout height="50%" width="9%" borderRadius="500" backgroundColor="#ffffff" style="vertical-align: middle" horizontalAlignment="center">
                      <Image class src="~/assets/images/right-arrow.png" height="45%" width="45%"/>
                  </Stacklayout>
                  <ActivityIndicator color="white" height="20" :visibility="`${ show }`" width="20" :busy="`${this.actIndicator}`"/>
              </WrapLayout>
            </Stacklayout>
          </CardView>
                </StackLayout>
            </TabViewItem>
            <TabViewItem textTransform="capitalize" title="Produce">
                <StackLayout style="margin-top: 10%">
            <CardView :opacity="buttonOpacity" :isEnabled="enableSubmitButton" @tap="planEstimate" height="50" class="getstarted" elevation="0" :radius="radValue">
            <Stacklayout style="vertical-align: middle" horizontalAlignment="center">
              <WrapLayout horizontalAlignment="center">
                  <Label horizontalAlignment="center" text=" Set Produce Estimate" class="loginBtn"/>
                  <Stacklayout height="50%" width="9%" borderRadius="500" backgroundColor="#ffffff" style="vertical-align: middle" horizontalAlignment="center">
                      <Image class src="~/assets/images/right-arrow.png" height="45%" width="45%"/>
                  </Stacklayout>
                  <ActivityIndicator color="white" height="20" :visibility="`${ show }`" width="20" :busy="`${this.actIndicator}`"/>
              </WrapLayout>
            </Stacklayout>
          </CardView>
                </StackLayout>
            </TabViewItem>
          </TabView>
    </Docklayout>
  </Page>
</template>

<script>
import Home from './Home';
import Signup from './Signup';
import ResponseModal from './ResponseModal';
import ShareModal from './ShareModal';
import WorkPlan from './WorkPlan';
import WorkplanList from './WorkplanList';
import TasksAssigned from './TasksAssigned';
import WorkPlanEstimate from './WorkPlanEstimate';
import ManageTask from './ManageTask';
import DeleteTask from './DeleteTask';
import EstimateProduce from './EstimateProduce';
import TaskManagement from './TaskManagement';
import DeliverablesEstimate from './DeliverablesEstimate';
import DeliverableList from './DeliverableList';
import DetailedEstimate from './DetailedEstimate';
import AssignedUsers from './AssignedUsers';
import Asset from './Asset';
import * as application from "application";
import { AndroidApplication } from "application";
const Toast = require("nativescript-toast");
import axios from "axios";
import { checkInternet } from ".././utility/Utilities.js";
const internetOption = checkInternet();
const platformModule = require("tns-core-modules/platform");
const localStorage = require("nativescript-localstorage");
export default {
  data() {
    return {
      deliverableData: {
        email: "",
        password: ""
      },
      passwordSecure: true,
      actIndicator: false,
      show: "collapsed",
      submitButton: true,
      radValue: null,
      marginValue: null,
      buttonOpacity: 1,
      bgColor: "",
      marginTop: "",
      progressValue: 20,
      progressMaxValue: 100,
      filteredArrayItem: [
        {
          asset: 'Tractor',
          quantity: 0
        },
        {
          asset: 'Tractor',
          quantity: 0
        },
        {
          asset: 'Tractor',
          quantity: 0
        },
        {
          asset: 'Tractor',
          quantity: 0
        },
        {
          asset: 'Tractor',
          quantity: 0
        }
        ]
    };
  },
  created() {
    if (!internetOption) {
      Toast.makeText("Internet connection not available", "long").show();
    }
    if (platformModule.isAndroid) {
      this.marginValue = "10%";
      this.radValue = "0";
      this.bgColor = "transparent";
      this.marginTop = "0";
    } else if (platformModule.isIOS) {
      this.marginValue = "50%";
      this.bgColor = "#3E8913";
      this.radValue = "0";
      this.marginTop = "10%";
    }
  },
  methods: {
    toLower(params) {
      return params.trim().toLowerCase();
    },
    validateEmail(email) {
      var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return re.test(email);
    },
    signupScreen() {
      // this.$router.push('/signup');
      this.$navigateTo(Signup);
    },
    showPassword() {
      this.passwordSecure = !this.passwordSecure;
    },
    loginUser() {
      this.$store.commit('setTab', 'appDash')
      this.$store.commit('setHeader', 'Dashboard')
      this.$navigateTo(Home, {
        clearHistory: true
      })
    },
    saveData() {
        this.$showModal(DeleteTask);
      // this.$navigateTo(AssignedUsers);
    },
    createWorkplan() {
      this.$navigateTo(WorkPlan);
    },
    planEstimate() {
      this.$navigateTo(Asset);
    },
    onProgressLoaded(args) {
        const sliderComponent = args.object;
        args.object.color = "#3E8914";
        args.object.backgroundColor = "#F2F2F2";
        sliderComponent.on("valueChange", (pargs) => {
        });
    },
  },
  computed: {
    acivityIndicator() {
      return this.actIndicator;
    },
    enableSubmitButton() {
      return this.submitButton;
    }
  }
};
</script>

<style scoped>
.coverImage {
    align-items: center;
    background-image: url('~/assets/images/bg5.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.form {
    margin-left: 15;
    margin-right: 15;
    flex-grow: 2;
    vertical-align: middle;
}

.card {
    background-color: #fff;
    color: #4d4d4d;
    margin: 0 15 0 15;
    padding: 10;
    border: 1px solid #000;
}

.getstarted {
    background-color: #3E9814;
    color: #4d4d4d;
    margin: 15 15 15 15;
    padding: 10;
}

TextField {
    border-width: 0 0 1 0;
    border-bottom-color: #00000000;
    font-size: 12;
}

.main {
    font-size: 16%;
    font-weight: 400;
    font-family: 'RobotoBlack';
    color: #134611;
    margin: 15 0 0 15;
}

.submain {
    font-weight: 200;
    font-size: 11%;
    color: #134611;
    font-family: 'KrubItalic';
    padding: 10% 0 10% 0;    
    margin: 0 15 5 15;
}

.pwd {
    color: #4F4F4F;
    font-size: 12%;
    font-family: 'CalibreLight'
}

.resetText {
    color: #3E8914;
    font-family: 'CalibreLight';
    font-size: 11%;
}

.loginBtn {
    font-size: 18%;
    font-family: 'KrubItalic';
    color: white;
}

.headings {
  font-weight: 200;
}

  TabView {
    font-size: 12;
    font-weight: bold;
    font-family: "CalibreRegular";
    color: #3E8914;
  }
</style>
