<template>
  <Scrollview class="">
    <Stacklayout >
        <Wraplayout>
            <CheckBox ref="chkbox" margin="15" v-for="(item, i) in usersList" @tap="pickUser(item)" :key="i" @checkedChange="checkedChange(item)" :text="item.name" checked="false"></CheckBox>
        </Wraplayout>
    </Stacklayout>
  </Scrollview>
</template>

<script>
export default {
  data() {
    return {
        usersList: [
            {
                id: 1,
                name: "Seyike Sojirin"
            },
            {
                id: 2,
                name: "John Doe"
            },
            {
                id: 3,
                name: "Alita Johnson"
            },
            {
                id: 4,
                name: "Animashaun Bode"
            },
            {
                id: 5,
                name: "Seun Bello"
            },
            {
                id: 6,
                name: "Silver fols"
            },
            {
                id: 7,
                name: "Animashaun Bode"
            },
            {
                id: 8,
                name: "Mike Bode"
            },            
            ]
    };
  },
  methods:{
      pickUser(event) {
          console.log(this.$refs.chkbox.nativeView);
          console.log("picked")
      },
      checkedChange(event) {
          console.log("checked")
          console.log(event.id);          
          console.log(event.name);          
      }
  }
};
</script>

<style>
</style>