<template>
    <Page class="page" actionBarHidden="true">
        <StackLayout>
          <Carousel @swipe="onSwipe($event)" height="50%" ios:bounce="false" showIndicator="false" >
              <CarouselItem>
                  <GridLayout >
                    <exoplayer ref="exo" src="~/assets/videos/sample.mp4" autoplay="false" height="500%" width="800%"></exoplayer>
                  </GridLayout>
              </CarouselItem>
              <CarouselItem>
                  <GridLayout>
                    <exoplayer ref="exo" src="~/assets/videos/sample.mp4" autoplay="false" height="500%" width="500%"></exoplayer>
                  </GridLayout>              
              </CarouselItem>
          </Carousel>
            <StackLayout horizontalAlignment="center" height="50%">
                <WrapLayout horizontalAlignment="center" style="padding: 10">
                    <Button text="" @loaded="BtnLoaded" class="dot" :class="{ activeColor : (active === 1)}" />
                    <Button text="" @loaded="BtnLoaded" class="dot" :class="{ activeColor : (active === 2)}" />
                    <Button text="" @loaded="BtnLoaded" class="dot" :class="{ activeColor : (active === 3)}" />
                </WrapLayout>
                <label class="info" text="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniamsed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam" textWrap="true"/>
                <Button @tap="signup" class="signup" text="Sign Up" />
                <Button @tap="login" class="login" text="Login" />
            </StackLayout>
        </StackLayout>
    </Page>
</template>

<script>
const localStorage = require("nativescript-localstorage");
import Login from './Login';
import Signup from './Signup';
import Home from './Home';
export default {
    data() {
        return {
            currentIndex: 1
        }
    },
    computed: {
        active() {
            return this.currentIndex;
        }
    },
    beforeCreate() {
        console.log(localStorage.getItem('token'))
        if(localStorage.getItem('token') != ''){
            this.$navigateTo(Home, {
                clearHistory: true
            })
        }
    },
    methods: {
        onSwipe(args) {
            if(Number(args.direction) === 1) {
                this.currentIndex = 1;
            }
            else if(Number(args.direction) === 2) {
                this.currentIndex = 2
            }
            else {
                this.currentIndex = 3
            }
        },
        goBack() {
            this.$router.go(-1);
        },
        nextSlide(event) {
            this.currentIndex = Number(event.eventData.newIndex);
        },
        signup() {
            this.$navigateTo(Signup, {
                clearHistory: true
            });
        },
        login() {
            this.$navigateTo(Login, {
                clearHistory: true
            });
        },
        BtnLoaded() {}
    }
}
</script>

<style scoped>
    .page {
        background-color: #134611;
    }
    .activeColor {
        background-color: white;
        border-color: #134611;
    }
    
    .dot {
        border-width: 0.5;
        border-radius: 50;
        height: 8;
        width: 8;
        margin-top: 0;
        margin-right: 10;
        border-color: #3E8914;
    }
    
    .signup {
        background-color: white;
        color: #134611;
        font-size: 15%;
        font-weight: 500;
        font-family: "CalibreRegular";
        text-transform: capitalize;
        border-width: 0.5;
        border-color: black;
        width: 90%;
        height: 15%;
        padding: 10%;
    }
    
    .login {
        background-color: transparent;
        color: #fff;
        font-size: 15%;
        font-weight: 500;
        font-family: "CalibreRegular";
        text-transform: capitalize;
        border-color: transparent;
        width: 90%;
        height: 20%;
        margin: 5%;
        border-width: 1;
    }

    .info {
        color: #fff;
        font-size: 13%;
        margin: 5% 5%;
        text-align: center;

    }
</style>
